workflows/Shopify/Create_Shopify_Product.json
{
  "meta": {
    "instanceId": "c4f4146b469720be37fccfa9decbb4bd3e7ee280c05e7522ace5122567557b3a"
  },
  "nodes": [
    {
      "parameters": {
        "workflowId": "RcZKtdv565gxviwp"
      },
      "id": "02dd350c-66f2-4093-b0c1-e08cda52601a",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1620,
        540
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "=product_pid",
              "value": "={{ $('Create a Product Shopify').item.json.data.pid }}"
            },
            {
              "name": "Shopify_Body",
              "value": "={{ $('Get Full Json').item.json.Shopify_Body.Shopify_Body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f0e437d7-eb59-4ee8-8a89-739fe97da59b",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1460,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.dev.gosharpei.com/api/products/{{ $json.data.pid }}/options",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.Shopify_Body.headers.authentication }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"name\": \"Size\",\n    \"options_lines\": [\n        {\n            \"value\": \"{{ $('Execute Workflow Trigger').item.json.Shopify_Body.body.variants[$json.counter].option1 }}\"\n        }\n    ]\n}\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "7fa6f2b0-3417-4179-bd96-ca1c901d4a2a",
      "name": "Create Options",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        540
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "counter",
              "value": "={{ $runIndex }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9433e257-5d82-4924-8878-e475199262df",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1120,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dev.gosharpei.com/api/products",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authority",
              "value": "api.dev.gosharpei.com"
            },
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "accept-language",
              "value": "es-ES,es;q=0.9"
            },
            {
              "name": "authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.Shopify_Body.headers.authentication }}"
            },
            {
              "name": "origin",
              "value": "https://app.dev.gosharpei.com"
            },
            {
              "name": "referer",
              "value": "https://app.dev.gosharpei.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not A(Brand\";v=\"99\", \"Google Chrome\";v=\"121\", \"Chromium\";v=\"121\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \n\"body\": \"{{ $('Execute Workflow Trigger').item.json.Shopify_Body.body.description }}\",\n\"status_pid\":\"{{ $('Get Status').item.json.data.status[0].pid }}\",\n\"title\":\"{{ $('Execute Workflow Trigger').item.json.Shopify_Body.body.title }}\",\n\"slug\":\"Test\",\n\"remote_id\": \"{{ $('Execute Workflow Trigger').item.json.Shopify_Body.body.id }}\",\n\"value\": \"{{ $('Execute Workflow Trigger').item.json.Shopify_Body.body.price }}\",\n\"tags\": [{\"value\": \"{{ $('Execute Workflow Trigger').item.json.Shopify_Body.body.tags }}\"} ]\n}   ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "86901d7f-d5eb-4354-8d80-a0ab20290f3b",
      "name": "Create a Product Shopify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        960,
        540
      ]
    },
    {
      "parameters": {
        "url": "https://api.dev.gosharpei.com/api/status",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "product"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authority",
              "value": "api.dev.gosharpei.com"
            },
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "origin",
              "value": "https://appdev.gosharpei.com"
            },
            {
              "name": "referer",
              "value": "https://appdev.gosharpei.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"104\", \" Not A;Brand\";v=\"99\", \"Google Chrome\";v=\"104\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Linux\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "ea5f003d-f1f2-4d7f-bbc8-d4076627786c",
      "name": "Get Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  Shopify_Body: items[0].json\n};\n"
      },
      "id": "6a8d33ee-6a6c-4108-8c2a-ccda16cf3a79",
      "name": "Get Full Json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        540
      ]
    },
    {
      "parameters": {},
      "id": "cc37793a-e4d1-4a2c-b3b9-ad971631e969",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        480,
        540
      ]
    }
  ],
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Options": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Create Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a Product Shopify": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status": {
      "main": [
        [
          {
            "node": "Create a Product Shopify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Json": {
      "main": [
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Full Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}