workflows/Shopify/Update_Shopify_Product.json
{
    "meta": {
      "instanceId": "c4f4146b469720be37fccfa9decbb4bd3e7ee280c05e7522ace5122567557b3a"
    },
    "nodes": [
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://api.dev.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Code2').item.json.dataVariants[$('Set2').item.json.counter].pid }}   ",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5YjkxY2NjZS1mMjg3LTQ2YjUtOWYwNC0zYWIxZmYyMjhjN2UiLCJqdGkiOiJiYzhhODBjYTRhYjI1NDhlNzJmNWM2YmVjOGM3OGY0YjU3NmRmYWM4MGFkNzgwMDNmYmU5M2YyMjIyYTM2MjVhM2ZkMzc5MTBjNzJiYWFmOSIsImlhdCI6MTcxMTkzOTA2Ny4zNjg2NCwibmJmIjoxNzExOTM5MDY3LjM2ODY0MywiZXhwIjoxNzQzNDc1MDY3LjM2MDA0OSwic3ViIjoiMjE3Iiwic2NvcGVzIjpbXX0.kRN8oAC7ZOmhRMAJr4z4w260auNEFVZ1MV1HBAOevRnBKO6XxfwAnRFO3VdWL04d_4bozh4sJZf3lbVh6wk4sFLrOA1HRSZzDsBc3G1yLDaizljuknYwlwLGi2y6ci8IgUX51L3w_d4q9LXulnf1A3TulkAfa7ViDlSBGa4hZ8M3TZUHBKTQO0HYq12j4R8_heHfMMGCMrOVIehpZfqKuk81Ch5wuRv2FDDNfIcOuBnAWmLCHodkx2PrPrTXmTe00VeAD2KYLl4Xea81silBwu0u_UDEl2rw0mjb5sPqx9ggXyCUfxQZuqjzzhTWQEuYDeVZnS3eDNGsi2kQ4XnJmJHM-YEycUcc9VNRHsyyEnKpLmRIOIZcNzI3GFXhXHZ4bg7-JMw_q4NBqXlWX9yYkHte7H8_BbT9JisxPRl374n_QFARt_pEzt6utP1HqQ37kzrEoEUcw-GkdgIu2MKnd-XG5qTe90hYncNO1kSibAkVaOjWwKt19fI7ZdxwJXVXEaJKcsPeqnaawTF7QV4HPU2w_UMm9SWadsK4ZOxTeMCs7wIA9zWTgwniiE85T3QGJwVesmUhI48aN4Q5CARLUwaBoENNJIIyTnOvJY02fBQhJbCTRcOW1oYOlKl2GEAOf1y2DDUxllPMyfg3LNVapESvBFHMBANacNUmO-9-SEQ"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={  \n  \"status_pid\": \"bbd48b9d-672a-4f0a-8c54-f51af0b2cdd6\", \n  \"title\": \"{{ $('Code2').item.json.prestashopVariants[$('Set2').item.json.counter].title }}\",\n  \"cost\": \"0\",\n  \"selling_price\" : \"{{ $('Code2').item.json.prestashopVariants[$('Set2').item.json.counter].price.toString() }}\"\n    }    ",
          "options": {}
        },
        "id": "610448a5-83e3-418c-bc4e-f23e75bb4e3f",
        "name": "Draft a Variant",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1440,
          600
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $('Code2').item.json.prestashopVariants[$json.counter].available.toString()}} ",
                "value2": "=false "
              }
            ]
          }
        },
        "id": "6068bf37-f3d8-49a5-a0ac-290656236879",
        "name": "Check Variant Stock",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1260,
          600
        ]
      },
      {
        "parameters": {
          "values": {
            "number": [
              {
                "name": "counter",
                "value": "={{ $runIndex }}"
              }
            ]
          },
          "options": {}
        },
        "id": "90804f72-c274-4b1e-8306-e4d4f17958aa",
        "name": "Set2",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [
          1080,
          600
        ]
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "id": "b9d64c65-34a9-4574-a1ee-ffd114195881",
        "name": "Split In Batches2",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 1,
        "position": [
          900,
          600
        ]
      },
      {
        "parameters": {
          "fieldToSplitOut": "prestashopVariants",
          "options": {}
        },
        "id": "40e2dad6-625b-4d4a-9625-3d20f96747dc",
        "name": "Item Lists2",
        "type": "n8n-nodes-base.itemLists",
        "typeVersion": 3,
        "position": [
          720,
          600
        ]
      },
      {
        "parameters": {
          "jsCode": "const dataVariants = items[0].json.data.variants;\nconst prestashopVariants = items[0].json.Shopify_Body.variants;\n\n\nconst prestashopIdIndexMap = new Map();\nprestashopVariants.forEach((variant, index) => {\n    prestashopIdIndexMap.set(variant.id.toString(), index);\n});\n\n\nconst sortedDataVariants = dataVariants.sort((a, b) => {\n    const indexA = prestashopIdIndexMap.get(a.remote_id);\n    const indexB = prestashopIdIndexMap.get(b.remote_id);\n    return indexA - indexB;\n});\n\nconst result = {\n    dataVariants: sortedDataVariants,\n    prestashopVariants: prestashopVariants\n};\n\nreturn result;\n\n\n\n"
        },
        "id": "7bc692cd-4d44-4524-8771-6da86bfb55ed",
        "name": "Code2",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          540,
          600
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://api.dev.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }} ",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "authority",
                "value": "api.dev.gosharpei.com"
              },
              {
                "name": "accept",
                "value": "application/json, text/plain, */*"
              },
              {
                "name": "accept-language",
                "value": "es-ES,es;q=0.9"
              },
              {
                "name": "authorization",
                "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5YjkxY2NjZS1mMjg3LTQ2YjUtOWYwNC0zYWIxZmYyMjhjN2UiLCJqdGkiOiI1MjM3MGFiMjAwZDFmY2ZmZDFiNjAyMTJmMDFlZWQzYTk5MDY3NmJhN2IxY2MyZWIzMTJjY2IxZjgyYTcxNmU5ODc0MWNkYWNlOGE3YmY3YyIsImlhdCI6MTcxMjY5NDkyNS44MDE3NzcsIm5iZiI6MTcxMjY5NDkyNS44MDE3NzgsImV4cCI6MTc0NDIzMDkyNS43OTYyMiwic3ViIjoiMjE3Iiwic2NvcGVzIjpbXX0.wB9yYWnaKvB9VVlTyZfx2XQXoIkkWKMHRINf9xtvdIy2LuHgTx366YMnWROFWv4ppY9n2MiMUmMLbUIYjDlCztMeBfXqxSVQ8hQgr3C180hMV1Yjg8gXbxZ7A_gTUsj3xDfhweUnoxFxbNPWXfjWFi-_suJ3g2wQaR_v-GTZNiq-UBDmnDWjHxXc84ewEHNtiG1cT3FxbwSttD63J2_JYzZIaCzzHE5NrrFf1SaCRyWH9Adqf4ELS5qUgVL_vUTYoShvwigYWurf7CZXIGVms9uXslxFlTk64GPp6QF2jiNSAhUE70DvDjD2gX9vWvWnhsDdjJuUllyamAkRmpyXZsbI78J84XdBKwC9nLvs76WcmxWff8PVm1x-aCa-9cXne1UzvlGh_h6GszfQB48IsFMlf4GU02FctKxHk7D67ILUzxC5jbuagt-DbK3axz4nFV462iDHnj6WR4fcwn36b_qp1Ol9lZdaZw5jsbyLCcN_6MsYno2qS7pdO3Oys-OXmRiDHBuoAugE3YGGuwT41brXH3Db7MGo_pEv86UH4h3rylr_ffN15X6ZCnkEEoKbBA1wLT9YelWmw_5ngpafmS3cIzpZ0iq7GoMfiys8ZYB0AI0nRZRX2cKMb36chpG0q5CJbvFPxKkMFstmjdBbn-iDJ1yCjPkH5bfxO3FP1ys"
              },
              {
                "name": "origin",
                "value": "https://app.dev.gosharpei.com"
              },
              {
                "name": "referer",
                "value": "https://app.dev.gosharpei.com/"
              },
              {
                "name": "sec-ch-ua",
                "value": "\"Not A(Brand\";v=\"99\", \"Google Chrome\";v=\"121\", \"Chromium\";v=\"121\""
              },
              {
                "name": "sec-ch-ua-mobile",
                "value": "?0"
              },
              {
                "name": "sec-ch-ua-platform",
                "value": "\"Windows\""
              },
              {
                "name": "sec-fetch-dest",
                "value": "empty"
              },
              {
                "name": "sec-fetch-mode",
                "value": "cors"
              },
              {
                "name": "sec-fetch-site",
                "value": "same-site"
              },
              {
                "name": "user-agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"title\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.title }}\",\n  \"body\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.description }}\",\n  \"vendor\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.vendor }}\",\n  \"status_pid\" : \"{{ $json.data.status[0].pid }}\"\n}\n\n        ",
          "options": {}
        },
        "id": "9f6d5b1f-4102-4b0a-8f91-9c89fe9ef6f1",
        "name": "Update Product",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1260,
          120
        ]
      },
      {
        "parameters": {
          "url": "https://api.dev.gosharpei.com/api/status",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "type",
                "value": "product"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "authority",
                "value": "api.dev.gosharpei.com"
              },
              {
                "name": "accept",
                "value": "application/json, text/plain, */*"
              },
              {
                "name": "accept-language",
                "value": "en-US,en;q=0.9"
              },
              {
                "name": "origin",
                "value": "https://appdev.gosharpei.com"
              },
              {
                "name": "referer",
                "value": "https://appdev.gosharpei.com/"
              },
              {
                "name": "sec-ch-ua",
                "value": "\"Chromium\";v=\"104\", \" Not A;Brand\";v=\"99\", \"Google Chrome\";v=\"104\""
              },
              {
                "name": "sec-ch-ua-mobile",
                "value": "?0"
              },
              {
                "name": "sec-ch-ua-platform",
                "value": "\"Linux\""
              },
              {
                "name": "sec-fetch-dest",
                "value": "empty"
              },
              {
                "name": "sec-fetch-mode",
                "value": "cors"
              },
              {
                "name": "sec-fetch-site",
                "value": "same-site"
              },
              {
                "name": "user-agent",
                "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {}
            }
          }
        },
        "id": "38c777ff-36ec-440b-98f7-61e18ad728dd",
        "name": "Get Status1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1080,
          120
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $('Execute Workflow Trigger').item.json.data.title }}",
                "operation": "notEqual",
                "value2": "={{ $('Execute Workflow Trigger').item.json.Shopify_Body.title }}"
              },
              {
                "value1": "={{ $('Execute Workflow Trigger').item.json.data.body }}",
                "operation": "notEqual",
                "value2": "={{ $('Execute Workflow Trigger').item.json.Shopify_Body.description }}"
              },
              {
                "value1": "={{ $('Execute Workflow Trigger').item.json.data.vendor }}",
                "operation": "notEqual",
                "value2": "={{ $('Execute Workflow Trigger').item.json.Shopify_Body.vendor }}"
              }
            ]
          },
          "combineOperation": "any"
        },
        "id": "ad598365-8934-420d-9581-db67740c2d2c",
        "name": "Check Product Shopify",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          900,
          120
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://api.dev.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "authority",
                "value": "api.dev.gosharpei.com"
              },
              {
                "name": "accept",
                "value": "application/json, text/plain, */*"
              },
              {
                "name": "accept-language",
                "value": "es-ES,es;q=0.9"
              },
              {
                "name": "authorization",
                "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5YjkxY2NjZS1mMjg3LTQ2YjUtOWYwNC0zYWIxZmYyMjhjN2UiLCJqdGkiOiIxM2U5MjI2MWM2NmFjZjJkZDQ2M2Y4MGIzZDg4NzQ1NWNkYTBlMDY5MWY3MDdlMzk1NDNlMGJjZDllNDNlODlkZjk2YjhmOGRmNDkzZjY3NyIsImlhdCI6MTcxMjkyODgxNS41NjUyMTcsIm5iZiI6MTcxMjkyODgxNS41NjUyMTgsImV4cCI6MTc0NDQ2NDgxNS41NTE5NjEsInN1YiI6IjIxNyIsInNjb3BlcyI6W119.djJKvi8PrbArNjs0QDVxbwz3qVIAdxGi1C16yXUFMTNazsBJ_v3J3-77GUN_EQDvVarAL40MXmjwGsdKO-q412jlsr4cAgSpqeyu57SrITXArxTaTZVNi-WEZCM86XeyZL1hTrCDMvGfWQA-uuu1qPAQfqvU6LRhhTrQq9VTVr6srASorTFrfDcwyF7r2Wy1_BzmNRavPExeMihJQ3QjJ2Z5t6Bcj3R-c7JbC4io7soBSqtQnWcbqMQZJYwA_dPc7yunL-UAl2JPbc9RHQPtQGctj_WZ1qVErjhuw7syNUhVsJFdtiqFICNwo8u0J0jc7feO_3sey6f8e0Rc5Mvys1G9xkoeroVXpxyEWU0DKYNi9YqspYu-TC_gP1t_fZcUaQAoK9sadbbRNdlPKCkBAPlwmRaJ2wRjugkDdU50FuU01RzLQ8b83Vt2NtjbdRi3Vqe6l8lWmqTkgee3vEGnWAlgXJoMwVP7JHaAeoV0XS4Wh5jOnDLraixb8eQ8ZxXy4CS3y1bZVyzQon0ZMUUaXOBFbuEGk_b4uZ8L9WedE1-qI6plk0gQH-w1P1LU2as0GXL7WCyLECCAzXKWIpR-f_gYDIAG_B3Pl-K45q1iXLLqvsLAKbram5yUYFZ6JHEjCs7C250xO-eJYgbKMGCDjo8JvNWfPHyB2zdawQJMyWQ"
              },
              {
                "name": "origin",
                "value": "https://app.dev.gosharpei.com"
              },
              {
                "name": "referer",
                "value": "https://app.dev.gosharpei.com/"
              },
              {
                "name": "sec-ch-ua",
                "value": "\"Not A(Brand\";v=\"99\", \"Google Chrome\";v=\"121\", \"Chromium\";v=\"121\""
              },
              {
                "name": "sec-ch-ua-mobile",
                "value": "?0"
              },
              {
                "name": "sec-ch-ua-platform",
                "value": "\"Windows\""
              },
              {
                "name": "sec-fetch-dest",
                "value": "empty"
              },
              {
                "name": "sec-fetch-mode",
                "value": "cors"
              },
              {
                "name": "sec-fetch-site",
                "value": "same-site"
              },
              {
                "name": "user-agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={  \n  \"status_pid\": \"bbd48b9d-672a-4f0a-8c54-f51af0b2cdd6\",\n  \"title\" : \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.title }}\"\n}\n      ",
          "options": {
            "redirect": {
              "redirect": {}
            }
          }
        },
        "id": "70f51120-a143-47d4-8308-544016b72d1c",
        "name": "Draft Product",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          720,
          40
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $('Execute Workflow Trigger').item.json.Shopify_Body.available }}",
                "value2": "={{ false }}"
              }
            ]
          }
        },
        "id": "5f86d0fa-f224-49df-b714-300b8195dc88",
        "name": "Check Stock",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          540,
          120
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.dev.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Code1').item.json.dataVariants[$('Set1').item.json.counter].pid }}/images      ",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "application/json, text/plain, */*"
              },
              {
                "name": "accept-language",
                "value": "es-ES,es;q=0.9"
              },
              {
                "name": "authorization",
                "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5YjkxY2NjZS1mMjg3LTQ2YjUtOWYwNC0zYWIxZmYyMjhjN2UiLCJqdGkiOiI4MzYwZTUwMDg4YWE1YWU0ZWY1NjEwMTk5YWM4ODBkZTJlMjJiMTM5NzUzNTgwZTY0N2Q2NDhiNjAyNWYyZGExYjE1ZDI1OTlmMGU5OTYzYiIsImlhdCI6MTcxMjE2ODUwNy4wNzYwNywibmJmIjoxNzEyMTY4NTA3LjA3NjA3MiwiZXhwIjoxNzQzNzA0NTA3LjA3MDY5Nywic3ViIjoiMjE3Iiwic2NvcGVzIjpbXX0.6g737MhETWsuUeEEEt3_J-m0AqpgElZFtg8eroBc1lhtVcCievgU7E5a4k1wN6bDoSftiASGUYU0sQQahlJzQrSEM_qWbKysRrE5YjocwWFa_YnXzTC5md9vw1MrjUHHbMSJDiRn366dlSW89T7lOiWCOTwLsDSEgkTNfG8mktpvfls0jsrUQ5cDkLXcbd_bHwICuTUHkSvV0ir5nGC017Xurvpxpc_3xQ2ZuUHh5G2rHNQthgzRLfhMgTO7rKgFwzFm9Ctn7-mh-Xb7d6qfPSiMTneGAemZH2oQXaeeA2B-Z9rP9-_rEj2XOSROvADLHXd0aOJNMjWBt9VKewcE54Xqjt3-3lxKOCnozTQwzBCWSypG5yI_XebsWW2xP4gsqdwu04zuVflEina0PBKdFmgnc3oINGX_sTuDGYYCejuVWuwTO9YAF-3oYdBGBRKujNdxfkTfCCUXjIi4A4AJKuwf3oUC2foG2Nj82hBGwtyTBYY77f5Ce9jqTtISBnd8I23Y36_5UPnouasOMDnQLATdjWw23xplRdNysiXjraeWCSTgkfNAhimegLD2tKai5oOdcHC5rkS2kcgIjGMZ9RQYqdgQU6pkq9ux_guQgOhN3iFFQ89JeNgrLpQWHyyusvSw9FpUkxz5epTJVoBVWVYmCqx5ZF_5VWnyaIol4V0"
              },
              {
                "name": "origin",
                "value": "https://app.dev.gosharpei.com"
              },
              {
                "name": "referer",
                "value": "https://app.dev.gosharpei.com/"
              },
              {
                "name": "sec-ch-ua",
                "value": "\"Google Chrome\";v=\"123\", \"Not:A-Brand\";v=\"8\", \"Chromium\";v=\"123\""
              },
              {
                "name": "sec-ch-ua-mobile",
                "value": "?0"
              },
              {
                "name": "sec-ch-ua-platform",
                "value": "\"Windows\""
              },
              {
                "name": "sec-fetch-dest",
                "value": "empty"
              },
              {
                "name": "sec-fetch-mode",
                "value": "cors"
              },
              {
                "name": "sec-fetch-site",
                "value": "same-site"
              },
              {
                "name": "user-agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "attachment",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {}
        },
        "id": "7acc5dc4-81c5-4ebe-b071-64c35d9d17aa",
        "name": "Add an image to a product variant1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1920,
          360
        ]
      },
      {
        "parameters": {
          "url": "=http:{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.featured_image }}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {
            "redirect": {
              "redirect": {}
            }
          }
        },
        "id": "2c8d311a-145b-4718-8a1b-3410e478f4d8",
        "name": "Upload3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1760,
          360
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://api.dev.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Code1').item.json.dataVariants[$('Set1').item.json.counter].pid }} ",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5YjkxY2NjZS1mMjg3LTQ2YjUtOWYwNC0zYWIxZmYyMjhjN2UiLCJqdGkiOiJiYzhhODBjYTRhYjI1NDhlNzJmNWM2YmVjOGM3OGY0YjU3NmRmYWM4MGFkNzgwMDNmYmU5M2YyMjIyYTM2MjVhM2ZkMzc5MTBjNzJiYWFmOSIsImlhdCI6MTcxMTkzOTA2Ny4zNjg2NCwibmJmIjoxNzExOTM5MDY3LjM2ODY0MywiZXhwIjoxNzQzNDc1MDY3LjM2MDA0OSwic3ViIjoiMjE3Iiwic2NvcGVzIjpbXX0.kRN8oAC7ZOmhRMAJr4z4w260auNEFVZ1MV1HBAOevRnBKO6XxfwAnRFO3VdWL04d_4bozh4sJZf3lbVh6wk4sFLrOA1HRSZzDsBc3G1yLDaizljuknYwlwLGi2y6ci8IgUX51L3w_d4q9LXulnf1A3TulkAfa7ViDlSBGa4hZ8M3TZUHBKTQO0HYq12j4R8_heHfMMGCMrOVIehpZfqKuk81Ch5wuRv2FDDNfIcOuBnAWmLCHodkx2PrPrTXmTe00VeAD2KYLl4Xea81silBwu0u_UDEl2rw0mjb5sPqx9ggXyCUfxQZuqjzzhTWQEuYDeVZnS3eDNGsi2kQ4XnJmJHM-YEycUcc9VNRHsyyEnKpLmRIOIZcNzI3GFXhXHZ4bg7-JMw_q4NBqXlWX9yYkHte7H8_BbT9JisxPRl374n_QFARt_pEzt6utP1HqQ37kzrEoEUcw-GkdgIu2MKnd-XG5qTe90hYncNO1kSibAkVaOjWwKt19fI7ZdxwJXVXEaJKcsPeqnaawTF7QV4HPU2w_UMm9SWadsK4ZOxTeMCs7wIA9zWTgwniiE85T3QGJwVesmUhI48aN4Q5CARLUwaBoENNJIIyTnOvJY02fBQhJbCTRcOW1oYOlKl2GEAOf1y2DDUxllPMyfg3LNVapESvBFHMBANacNUmO-9-SEQ"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"status_pid\":\"{{ $json.data.status[0].pid }}\",\n\"title\":\"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.variants[$('Set1').item.json.counter].title }}\",\n\"barcode\":\"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.variants[$('Set1').item.json.counter].barcode }}\",\n\"cost\":\"0\",\n\"selling_price\":\"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.variants[$('Set1').item.json.counter].price.toString() }}\"\n}       ",
          "options": {}
        },
        "id": "474310df-cb10-44ca-8e82-48dda96ec77c",
        "name": "Update a Variant",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1600,
          360
        ]
      },
      {
        "parameters": {
          "url": "https://api.dev.gosharpei.com/api/status",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "type",
                "value": "product"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "authority",
                "value": "api.dev.gosharpei.com"
              },
              {
                "name": "accept",
                "value": "application/json, text/plain, */*"
              },
              {
                "name": "accept-language",
                "value": "en-US,en;q=0.9"
              },
              {
                "name": "origin",
                "value": "https://appdev.gosharpei.com"
              },
              {
                "name": "referer",
                "value": "https://appdev.gosharpei.com/"
              },
              {
                "name": "sec-ch-ua",
                "value": "\"Chromium\";v=\"104\", \" Not A;Brand\";v=\"99\", \"Google Chrome\";v=\"104\""
              },
              {
                "name": "sec-ch-ua-mobile",
                "value": "?0"
              },
              {
                "name": "sec-ch-ua-platform",
                "value": "\"Linux\""
              },
              {
                "name": "sec-fetch-dest",
                "value": "empty"
              },
              {
                "name": "sec-fetch-mode",
                "value": "cors"
              },
              {
                "name": "sec-fetch-site",
                "value": "same-site"
              },
              {
                "name": "user-agent",
                "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {}
            }
          }
        },
        "id": "29877d1d-065d-4ab7-a2d4-ade5fe2daece",
        "name": "Get Status2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1440,
          360
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.title}}",
                "operation": "notEqual",
                "value2": "={{ $('Code1').item.json.dataVariants[$json.counter].title.slice(15) }}"
              },
              {
                "value1": "={{ $json.price.toString() }}",
                "operation": "notEqual",
                "value2": "={{ $('Code1').item.json.dataVariants[$json.counter].selling_price.slice(0,5) }}"
              },
              {
                "value1": "={{ $json.id.toString() }}",
                "operation": "notEqual",
                "value2": "={{ $('Code1').item.json.dataVariants[$json.counter].remote_id }}"
              },
              {
                "value1": "=http:{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.featured_image }}",
                "operation": "notEqual",
                "value2": "={{ $('Execute Workflow Trigger').item.json.data.variants[1].images[0].url }}"
              },
              {
                "value1": "={{ $json.barcode }}",
                "operation": "notEqual",
                "value2": "={{ $('Code1').item.json.dataVariants[$json.counter].barcode }}"
              }
            ],
            "number": [
              {
                "value1": "={{ $json.sku }}",
                "operation": "notEqual",
                "value2": "={{ $('Code1').item.json.dataVariants[$json.counter].SKU }}"
              }
            ]
          },
          "combineOperation": "any"
        },
        "id": "e2d3f4c1-2fc0-405d-8cf3-a3bc96dab90f",
        "name": "Check Variant",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1260,
          360
        ]
      },
      {
        "parameters": {
          "values": {
            "number": [
              {
                "name": "counter",
                "value": "={{ $runIndex }}"
              }
            ]
          },
          "options": {}
        },
        "id": "0f5260df-d82c-4424-a3ff-609a6b18f579",
        "name": "Set1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [
          1080,
          360
        ]
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "id": "f807f69c-2529-4a6b-b07f-6e769c8e9867",
        "name": "Split In Batches",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 1,
        "position": [
          900,
          360
        ]
      },
      {
        "parameters": {
          "fieldToSplitOut": "prestashopVariants",
          "options": {}
        },
        "id": "dec88c4e-b7a1-4be1-b02e-bbe981d40b87",
        "name": "Item Lists1",
        "type": "n8n-nodes-base.itemLists",
        "typeVersion": 3,
        "position": [
          720,
          360
        ]
      },
      {
        "parameters": {
          "jsCode": "const dataVariants = items[0].json.data.variants;\nconst prestashopVariants = items[0].json.Shopify_Body.variants;\n\n\nconst prestashopIdIndexMap = new Map();\nprestashopVariants.forEach((variant, index) => {\n    prestashopIdIndexMap.set(variant.id.toString(), index);\n});\n\n\nconst sortedDataVariants = dataVariants.sort((a, b) => {\n    const indexA = prestashopIdIndexMap.get(a.remote_id);\n    const indexB = prestashopIdIndexMap.get(b.remote_id);\n    return indexA - indexB;\n});\n\nconst result = {\n    dataVariants: sortedDataVariants,\n    prestashopVariants: prestashopVariants\n};\n\nreturn result;\n\n\n\n"
        },
        "id": "57719ef7-c657-441b-b0ac-6b7cdaae1f25",
        "name": "Code1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          540,
          360
        ]
      },
      {
        "parameters": {},
        "id": "32f5c635-fc24-4f84-8e21-6008832cfad8",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          260,
          360
        ]
      }
    ],
    "connections": {
      "Check Variant Stock": {
        "main": [
          [
            {
              "node": "Draft a Variant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set2": {
        "main": [
          [
            {
              "node": "Split In Batches2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check Variant Stock",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split In Batches2": {
        "main": [
          [
            {
              "node": "Set2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Item Lists2": {
        "main": [
          [
            {
              "node": "Split In Batches2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code2": {
        "main": [
          [
            {
              "node": "Item Lists2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Status1": {
        "main": [
          [
            {
              "node": "Update Product",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Product Shopify": {
        "main": [
          [
            {
              "node": "Get Status1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Stock": {
        "main": [
          [
            {
              "node": "Draft Product",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Check Product Shopify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload3": {
        "main": [
          [
            {
              "node": "Add an image to a product variant1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a Variant": {
        "main": [
          [
            {
              "node": "Upload3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Status2": {
        "main": [
          [
            {
              "node": "Update a Variant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Variant": {
        "main": [
          [
            {
              "node": "Get Status2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set1": {
        "main": [
          [
            {
              "node": "Split In Batches",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check Variant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split In Batches": {
        "main": [
          [
            {
              "node": "Set1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Item Lists1": {
        "main": [
          [
            {
              "node": "Split In Batches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code1": {
        "main": [
          [
            {
              "node": "Item Lists1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Code1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check Stock",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }