workflows/PrestaShop/Create_PrestaShop_Product.json
{
  "name": "☝️ Create PrestaShop  Product",
  "nodes": [
    {
      "parameters": {},
      "id": "cc37793a-e4d1-4a2c-b3b9-ad971631e969",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        480,
        540
      ]
    },
    {
      "parameters": {
        "url": "https://api.dev.gosharpei.com/api/status",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "product"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authority",
              "value": "api.dev.gosharpei.com"
            },
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "origin",
              "value": "https://appdev.gosharpei.com"
            },
            {
              "name": "referer",
              "value": "https://appdev.gosharpei.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"104\", \" Not A;Brand\";v=\"99\", \"Google Chrome\";v=\"104\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Linux\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "ea5f003d-f1f2-4d7f-bbc8-d4076627786c",
      "name": "Get Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        820,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dev.gosharpei.com/api/products",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authority",
              "value": "api.dev.gosharpei.com"
            },
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "accept-language",
              "value": "es-ES,es;q=0.9"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5YjkxY2NjZS1mMjg3LTQ2YjUtOWYwNC0zYWIxZmYyMjhjN2UiLCJqdGkiOiJmMmNkMjU5NWJjOTY3NTVmNjUxODA1M2JmNzAxZDlmNjgzNTQzZjhhNjhiOGQyNmEzYWI2Mjc0N2M1YjQxY2FhYmI4NDc1YzBhM2UwYjJkMyIsImlhdCI6MTcxMjMzMTc2Ny4xOTU5NzksIm5iZiI6MTcxMjMzMTc2Ny4xOTU5ODEsImV4cCI6MTc0Mzg2Nzc2Ny4xODg2ODMsInN1YiI6IjIxNyIsInNjb3BlcyI6W119.ssLhKkFchlvj7-JqPffLw9SKLVfAnKWZyja4QzVeDHdlmaZLvCxal9WcYiG6_P8g1V31tuHLV4cGLi444Pe7ALFJvoG3AMOEJTFmyXxfcEwubPy0qAc4MeuBYAc8c1GTokOiCD2f-VeiXUiChx61xKrcgDHaM9J9mFzh-qCs7Fo0ll0_JYPPBLjBYhhnklnV-RPEB72l0S5p6Q09pv7z_todZN-zsEz6Ec9yimNWgYUDqBRW8i0CT1pFDR64aM_q29jKR22DZ4QX1YhSgCHC00ZswXzmy_HZh8-t9vJNWFFquSg7VTf192hVEQAH1XQWB5yQNLb3F-B1cfklpFArjkz_c8a6RmQv4PixqsgCIFt61XBf1vjQwnlSO1Gb48M-hQs3wswYJOd7QhizK7Kn-wJUgfls44XeibX5mLUQh5VjSyJUbqooQaSW12oC0trrZevHaH8ycAEihhLRxNYYuG0dMdh8QxGZqqitIvc8aynjEosQmoe0QNB5O6txIQ6Y1_GfXK-gIRIFz_XvWm_LGvw6_kjvp9_k5HnxXsYDhEb1YcFCvC8CyXDktd1nHj31iVfnTO8qAriGnU0a4x83W3itjMKcA2tvUHLDlKQS1FaniX16QPv-NQhPzJWAxmdBTlruby0XrqhNOmnnFzKMc2z-zfGTZzgstAfNGoXHaag"
            },
            {
              "name": "origin",
              "value": "https://app.dev.gosharpei.com"
            },
            {
              "name": "referer",
              "value": "https://app.dev.gosharpei.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not A(Brand\";v=\"99\", \"Google Chrome\";v=\"121\", \"Chromium\";v=\"121\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \n\"body\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.description }}\",\n\"status_pid\":\"{{ $('Get Status').item.json.data.status[0].pid }}\",\n\"title\":\"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.title }}\",\n\"slug\":\"Test\",\n\"category\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.type }}\",\n\"tags\": [{\"value\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.tags }}\"} ]\n}               ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "4af5e517-a3e8-4cf3-bc10-ba55d3002314",
      "name": "Create a Product Prestashop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        980,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.dev.gosharpei.com/api/products/{{ $json.data.pid }}/options ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5YjkxY2NjZS1mMjg3LTQ2YjUtOWYwNC0zYWIxZmYyMjhjN2UiLCJqdGkiOiJiYzhhODBjYTRhYjI1NDhlNzJmNWM2YmVjOGM3OGY0YjU3NmRmYWM4MGFkNzgwMDNmYmU5M2YyMjIyYTM2MjVhM2ZkMzc5MTBjNzJiYWFmOSIsImlhdCI6MTcxMTkzOTA2Ny4zNjg2NCwibmJmIjoxNzExOTM5MDY3LjM2ODY0MywiZXhwIjoxNzQzNDc1MDY3LjM2MDA0OSwic3ViIjoiMjE3Iiwic2NvcGVzIjpbXX0.kRN8oAC7ZOmhRMAJr4z4w260auNEFVZ1MV1HBAOevRnBKO6XxfwAnRFO3VdWL04d_4bozh4sJZf3lbVh6wk4sFLrOA1HRSZzDsBc3G1yLDaizljuknYwlwLGi2y6ci8IgUX51L3w_d4q9LXulnf1A3TulkAfa7ViDlSBGa4hZ8M3TZUHBKTQO0HYq12j4R8_heHfMMGCMrOVIehpZfqKuk81Ch5wuRv2FDDNfIcOuBnAWmLCHodkx2PrPrTXmTe00VeAD2KYLl4Xea81silBwu0u_UDEl2rw0mjb5sPqx9ggXyCUfxQZuqjzzhTWQEuYDeVZnS3eDNGsi2kQ4XnJmJHM-YEycUcc9VNRHsyyEnKpLmRIOIZcNzI3GFXhXHZ4bg7-JMw_q4NBqXlWX9yYkHte7H8_BbT9JisxPRl374n_QFARt_pEzt6utP1HqQ37kzrEoEUcw-GkdgIu2MKnd-XG5qTe90hYncNO1kSibAkVaOjWwKt19fI7ZdxwJXVXEaJKcsPeqnaawTF7QV4HPU2w_UMm9SWadsK4ZOxTeMCs7wIA9zWTgwniiE85T3QGJwVesmUhI48aN4Q5CARLUwaBoENNJIIyTnOvJY02fBQhJbCTRcOW1oYOlKl2GEAOf1y2DDUxllPMyfg3LNVapESvBFHMBANacNUmO-9-SEQ"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"name\": \"Size\",\n    \"options_lines\": [\n        { \"value\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.variants[0].option1 }}\" },\n        { \"value\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.variants[1].option1 }}\" },\n        { \"value\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.variants[2].option1 }}\" }\n    ]\n}\n   ",
        "options": {}
      },
      "id": "092c4a60-a606-4840-a208-ba7e366444da",
      "name": "Create Options",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1140,
        540
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "=product_pid ",
              "value": "={{ $('Create a Product Prestashop').item.json.data.pid }}"
            },
            {
              "name": "PrestaShop_Body",
              "value": "={{ $('Get Full Json').item.json.PrestaShop_Body.PrestaShop_Body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f0e437d7-eb59-4ee8-8a89-739fe97da59b",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1300,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  PrestaShop_Body: items[0].json\n};\n"
      },
      "id": "6a8d33ee-6a6c-4108-8c2a-ccda16cf3a79",
      "name": "Get Full Json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        540
      ]
    },
    {
      "parameters": {
        "workflowId": "RcZKtdv565gxviwp"
      },
      "id": "02dd350c-66f2-4093-b0c1-e08cda52601a",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1460,
        540
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Full Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status": {
      "main": [
        [
          {
            "node": "Create a Product Prestashop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a Product Prestashop": {
      "main": [
        [
          {
            "node": "Create Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Options": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Json": {
      "main": [
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "21ef12c1-e9c4-4b0b-a4cf-7bc860c632bf",
  "id": "IMfxu7fHTF2HBsYz",
  "meta": {
    "instanceId": "2a93d407c6345951e57ec975cb118d316eccb6c9c13e51d901e401b88aad4621"
  },
  "tags": [
    {
      "createdAt": "2024-03-26T20:19:24.188Z",
      "updatedAt": "2024-04-12T13:20:55.855Z",
      "id": "KZsyDULXgEqSqmXA",
      "name": "Prestashop"
    }
  ]
}