workflows/PrestaShop/PrestaShop_webhook.json
{
  "meta": {
    "instanceId": "0c0beacef8877bbf2416eb00f2b5dc96354e26dd1df5517320459b1236860f8c"
  },
  "nodes": [
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Update name1').item.json.env }}.gosharpei.com/api/products/{{ $('Create  Product').item.json.data.pid }}/variants/{{ $('Create combination').item.json.data[0].pid }}    ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Update name1').item.json.auth }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Create combination').item.json.data[0].selling_price == 0 ? $('Update name1').item.json.price : $('Create combination').item.json.data[0].selling_price }}\",\n    \"title\": \"{{ $('Create combination').item.json.data[0].title.replace(/['\"]+/g,'').trim() }}\",\n    \"remote_id\": \"{{ $('Create combination').item.json.data[0].remote_id }}\",\n    \"status_pid\" : \"{{ $('Update name1').item.json.env === \"prod\" ? ($('Set6').item.json.quantity > 0 ? \"f1554bbc-3159-4044-8974-1da26a573ea3\" : \"8ccef96e-5eb3-4b66-bd16-86fec78ab575\" ) : ($('Update name1').item.json.env === \"dev\" ? ($('Set6').item.json.quantity > 0 ? \"20ba684b-2d5b-46de-bfc3-07aa6d40caaa\" : \"bbd48b9d-672a-4f0a-8c54-f51af0b2cdd6\" ) : \"\" ) }}\",\n    \"barcode\":\"{{ $('Update name1').item.json.barcode ? $('Update name1').item.json.barcode : 'n/a' }}\",\n    \"cost\": {{ $('Update name1').item.json.cost }},\n    \"SKU\": \"{{ $('Update name1').item.json.sku ? $('Update name1').item.json.sku : 'n/a' }}\"\n\n  }        ",
        "options": {}
      },
      "id": "2367d386-df36-422d-b10e-f820739913aa",
      "name": "Update combination",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3560,
        1260
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.{{ $('Update name1').item.json.env }}.gosharpei.com/api/products/{{ $('Create  Product').item.json.data.pid }}/variants/{{ $('Create combination').item.json.data[0].pid }}/images            ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Update name1').item.json.auth }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachment",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "3a9492bc-89ed-466c-b99f-7b6e4ce077df",
      "name": "Add Image1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3360,
        1260
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "url": "={{ $('Loop Over Items').item.json.image && $('Loop Over Items').item.json.image.length > 0 ? $('Loop Over Items').item.json.image[0].url : $('Edit Fields').item.json.body.images[0].url }}",
        "options": {}
      },
      "id": "ec2bdea5-4fb7-49fc-baa4-e919cda14212",
      "name": "Upload1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3180,
        1260
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.{{ $('Update name1').item.json.env }}.gosharpei.com/api/products/{{ $('Create  Product').item.json.data.pid }}/variants/multiple        ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Update name1').item.json.auth }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"selling_price\": \"{{ $json.price }}\",\n    \"title\": \"/ {{ $json.attributes.map(attr => attr.attribute).join(' - ').replace(/['\"]+/g,'').trim() }}\",\n    \"remote_id\": \"{{ $json.id_product_attribute }}\",\n    \"status_pid\" : \"{{ $('Update name1').item.json.env === \"prod\" ? \"f1554bbc-3159-4044-8974-1da26a573ea3\" : ($('Update name1').item.json.env === \"dev\" ? \"20ba684b-2d5b-46de-bfc3-07aa6d40caaa\" : \"\" ) }}\",\n    \"cost\": {{ $('Update name1').item.json.cost }},\n    \"barcode\": \"{{ $('Update name1').item.json.barcode ? $('Update name1').item.json.barcode : 'n/a' }}\",\n    \"SKU\": \"{{ $('Update name1').item.json.sku ? $('Update name1').item.json.sku : 'n/a' }}\" \n\n  }\n]       \n              ",
        "options": {}
      },
      "id": "d46413dd-5aa1-47c2-aa3b-7728ee568fe7",
      "name": "Create combination",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3000,
        1260
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "counter",
              "value": "={{ $runIndex }}"
            },
            {
              "name": "images_len",
              "value": "={{ $($('Update name1').item.json.webhook).item.json.body.images.length }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e33ddfea-ec72-4115-9e54-6e64679e656b",
      "name": "Set6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2820,
        1260
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "47ed4103-7e23-48b4-9600-b856159652d9",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2620,
        1260
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "fields",
        "options": {}
      },
      "id": "68bd131f-6a44-4dd4-8d2c-88ea1e0c2ca9",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2440,
        1260
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener el primer elemento de los datos de entrada\nconst input = items[0];\n\n// Verificar si 'input' y 'input.json' est치n definidos\nif (input && input.json && input.json.body && input.json.body.combinations) {\n    // Obtener el objeto 'combinations'\n    const combinations = input.json.body.combinations;\n\n    // Inicializar un arreglo para almacenar los resultados\n    const fieldsArray = [];\n\n\n    // Iterar sobre las propiedades del objeto 'combinations'\n    for (const key in combinations) {\n        if (combinations.hasOwnProperty(key)) {\n            // Acceder a cada combinaci칩n usando su clave\n            const combination = combinations[key];\n            \n            // A침adir la combinaci칩n al arreglo de fields\n            fieldsArray.push({\n                id_product_attribute: combination.id_product_attribute,\n                attributes: combination.attributes,\n                price: combination.price,\n                quantity: combination.quantity,\n                image:\ncombination.images\n            });\n        }\n    }\n\n    // Retornar un solo objeto con el campo 'fields' que contiene el arreglo de combinaciones\n    return [{\n        json: {\n            fields: fieldsArray\n        }\n    }];\n}\n\n// Si no se encuentran combinaciones, retornar los items originales\nreturn items;\n"
      },
      "id": "3c912547-2eb5-43c7-85e1-04d97df4c9d0",
      "name": "Convert Object",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2260,
        1260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76f6b88d-a7a0-4691-b478-d628b949e814",
              "name": "body.combinations",
              "value": "={{ $($('Update name1').item.json.webhook).item.json.body.combinations }}",
              "type": "object"
            },
            {
              "id": "cf8e13f9-a3ab-426d-b185-e15006dae151",
              "name": "headers.authorization",
              "value": "={{ $('Update name1').item.json.auth }}",
              "type": "string"
            },
            {
              "id": "6d65e2bf-60a4-4f39-8dc7-7cab62b9a213",
              "name": "data.pid",
              "value": "={{ $json.data.pid }}",
              "type": "string"
            },
            {
              "id": "14832a9a-70b0-4af8-8276-f60da1318266",
              "name": "body.images",
              "value": "={{ $($('Update name1').item.json.webhook).item.json.body.images }}",
              "type": "array"
            },
            {
              "id": "d86ca947-c211-49b7-acfb-d504b50079ec",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4c3fd38f-45b7-409f-9c19-5ecd68ddf252",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        1260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.{{ $('Update name1').item.json.env }}.gosharpei.com/api/products ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Update name1').item.json.auth }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'').trim() }}\",\n  \"description_short\": \"{{ $('Update name1').item.json.description_short.replace(/['\"]+/g,'').replace(/\\n/g, ' ').replace(/<br\\s*\\/>\\s*<br\\s*\\/>\\*/g, '').replace(/<\\/?p>/g, '').replace(/\\s+/g, ' ').trim() }}\",\n  \"quantity\": {{ $('Update name1').item.json.quantity }},\n  \"price\": \"{{ $('Update name1').item.json.price }}\",\n  \"status_pid\" : \"{{ $('Update name1').item.json.env === \"prod\" ? ($('Update name1').item.json.quantity > 0 ? \"f1554bbc-3159-4044-8974-1da26a573ea3\" : \"8ccef96e-5eb3-4b66-bd16-86fec78ab575\" ) : ($('Update name1').item.json.env === \"dev\" ? ($('Update name1').item.json.quantity > 0 ? \"20ba684b-2d5b-46de-bfc3-07aa6d40caaa\" : \"bbd48b9d-672a-4f0a-8c54-f51af0b2cdd6\" ) : \"\" ) }}\",\n  \"tags\": [\n    {\n      \"value\": \"Combinations\"\n    }\n  ],\n  \"remote_id\": {{ $('Update name1').item.json.id }},\n  \"default_variant\": false\n}          ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "223e5c8f-7f44-4e5c-8b88-dcfc7e52c065",
      "name": "Create  Product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1880,
        1260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "802b5b1d-0fd0-42e6-84bb-d374684919f4",
              "leftValue": "={{ $($('Update name1').item.json.webhook).item.json.query.create === \"true\" && !Array.isArray($($('Update name1').item.json.webhook).item.json.body.combinations) }}\n\n\n",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "55ac3001-17c9-4162-a447-9ffcb64c1075",
              "leftValue": "={{ $('Update name1').item.json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "774b6936-7041-4669-b23e-1e996006c382",
      "name": "Combinations",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1680,
        1260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "7533afef-4753-4c5c-a11e-664a589119ea",
              "leftValue": "={{  $( $('Update name1').item.json.webhook).item.json.query.create === 'true' && Array.isArray($($('Update name1').item.json.webhook).item.json.body.combinations)}}\n\n  ",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "9a926615-6feb-4934-b3db-82425f55c283",
              "leftValue": "={{ $('Update name1').item.json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false,
          "looseTypeValidation": true
        }
      },
      "id": "a28760b1-bebb-4d7b-b55f-73d1b6f6db25",
      "name": "if1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1680,
        1000
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "PrestaShop_Body",
              "value": "={{ $('Update name1').item.json.PrestaShop_Body }}"
            },
            {
              "name": "sku",
              "value": "={{ $('Update name1').item.json.sku }}"
            },
            {
              "name": "barcode",
              "value": "={{ $('Update name1').item.json.barcode }}"
            },
            {
              "name": "cost",
              "value": "={{ $('Update name1').item.json.cost }}"
            }
          ]
        },
        "options": {}
      },
      "id": "150e8ca6-f3e4-48a0-8bb1-0f7699bf247d",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1880,
        640
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Update name1').item.json.env }}.gosharpei.com/api/products/{{ $('Get Product by Remote Id / Json Update Stock2').item.json.data.pid }}/variants/{{ $('Get Product by Remote Id / Json Update Stock2').item.json.data.variants[0].pid }} ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Update name1').item.json.auth }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={   \n    \"selling_price\": \"{{ $('Update name1').item.json.price }}\",\n    \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'') }}\",\n    \"remote_id\": \"{{ $('Update name1').item.json.id }}\",\n    \"status_pid\" : \"{{ $('Update name1').item.json.env === \"prod\" ? ($('Update name1').item.json.quantity > 0 ? \"f1554bbc-3159-4044-8974-1da26a573ea3\" : \"8ccef96e-5eb3-4b66-bd16-86fec78ab575\" ) : ($('Update name1').item.json.env === \"dev\" ? ($('Update name1').item.json.quantity > 0 ? \"20ba684b-2d5b-46de-bfc3-07aa6d40caaa\" : \"bbd48b9d-672a-4f0a-8c54-f51af0b2cdd6\" ) : \"\" ) }}\",\n    \"barcode\":\"{{ $('Update name1').item.json.barcode ? $('Update name1').item.json.barcode : 'n/a' }}\",\n    \"cost\": {{ $('Update name1').item.json.cost }},\n    \"SKU\": \"{{ $('Update name1').item.json.sku ? $('Update name1').item.json.sku : 'n/a' }}\"\n\n  }           ",
        "options": {}
      },
      "id": "f6b93949-5a9d-43fa-bb34-dad0885a7bc3",
      "name": "Update a variant1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2620,
        1000
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.{{ $('Update name1').item.json.env }}.gosharpei.com/api/products/{{ $('Get Product by Remote Id / Json Update Stock2').item.json.data.pid }}/variants/{{ $('Get Product by Remote Id / Json Update Stock2').item.json.data.variants[0].pid }}/images          ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Update name1').item.json.auth }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachment",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "ad3fabae-c935-4d95-b6d8-3fbaa026ce13",
      "name": "Add Image2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2440,
        1000
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "url": "={{ $($('Update name1').item.json.webhook).item.json.body.images[0].url }} ",
        "options": {}
      },
      "id": "d48a58cf-6eeb-4709-b0fa-a89fe459b4a5",
      "name": "Upload2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2260,
        1000
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "url": "=https://api.{{ $('Update name1').item.json.env }}.gosharpei.com/api/products/{{ $json.data.remote_id }}  ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Update name1').item.json.auth }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ba39cb1e-cd52-46e4-b82a-bf7aa796e9c4",
      "name": "Get Product by Remote Id / Json Update Stock2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2080,
        1000
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.{{ $('Update name1').item.json.env }}.gosharpei.com/api/products ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Update name1').item.json.auth }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'').trim() }}\",\n  \"description_short\": \"{{ $('Update name1').item.json.description_short.replace(/['\"]+/g,'').replace(/\\n/g, ' ').replace(/['\"]+/g,'').replace(/\\n/g, ' ').replace(/<br\\s*\\/>\\s*<br\\s*\\/>\\*/g, '').replace(/<\\/?p>/g, '').replace(/\\s+/g, ' ').trim() }}\",\n  \"quantity\": \"{{ $('Update name1').item.json.quantity }}\",\n  \"price\": \"{{ $('Update name1').item.json.price }}\",\n  \"status_pid\" : \"{{ $('Update name1').item.json.env === \"prod\" ? ($('Update name1').item.json.quantity > 0 ? \"f1554bbc-3159-4044-8974-1da26a573ea3\" : \"8ccef96e-5eb3-4b66-bd16-86fec78ab575\" ) : ($('Update name1').item.json.env === \"dev\" ? ($('Update name1').item.json.quantity > 0 ? \"20ba684b-2d5b-46de-bfc3-07aa6d40caaa\" : \"bbd48b9d-672a-4f0a-8c54-f51af0b2cdd6\" ) : \"\" ) }}\",\n  \"tags\": [\n    {\n      \"value\": \"Default\"\n    }\n  ],\n  \"remote_id\": {{ $('Update name1').item.json.id }},\n  \"vendor\": \"\",\n  \"image_url\": \"https://example.com/image.jpg\",\n  \"variants\": [],\n  \"default_variant\": true\n}        ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "3caadd8d-2a19-4c29-a0f2-834921b78c6d",
      "name": "Create  Product and default variant1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1880,
        1000
      ]
    },
    {
      "parameters": {
        "workflowId": "SjB76PkH2zf2sYxX",
        "options": {}
      },
      "id": "b394c992-c45b-4260-831e-9a683e6a8a87",
      "name": "Execute Update Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2080,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.error.status }}",
              "operation": "equal",
              "value2": 404
            }
          ]
        }
      },
      "id": "b0a2ddfb-3fc1-4be8-baf2-833a247264bb",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1300,
        1000
      ]
    },
    {
      "parameters": {
        "url": "=https://api.{{ $('Update name1').item.json.env }}.gosharpei.com/api/products/{{ $('Update name1').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Update name1').item.json.auth }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f7bc6234-abe2-4789-bcc6-74df8cb1dce2",
      "name": "Get Product by Remote Id / Json Update Stock3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        740,
        1000
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Initialize the name field with an empty default value\nlet id_tax_rules_group = items[0].json.PrestaShop_Body.body.id_tax_rules_group;\nlet name = \"\";\nlet description_short = \"\";\nlet env = items[0].json.env;\nlet sku = items[0].json.PrestaShop_Body.body.reference;\nlet barcode = items[0].json.PrestaShop_Body.body.upc;\nlet cost = items[0].json.PrestaShop_Body.body.wholesale_price;\nlet status = items[0].json.PrestaShop_Body.body.active;\nlet auth = items[0].json.PrestaShop_Body.headers.authorization;\nlet id = items[0].json.id;\n\n\nlet webhook = items[0].json.webhook;\nlet quantity = items[0].json.PrestaShop_Body.body.stock_available;\nlet price = items[0].json.PrestaShop_Body.body.price;\nlet PrestaShop_Body = items[0].json;\n\n// Check if the name field is in object format with an index \"1\"\nif (typeof items[0].json.PrestaShop_Body.body.name === 'object' && items[0].json.PrestaShop_Body.body.name.hasOwnProperty(\"1\")) {\n    // Extract the value from index \"1\"\n    name = items[0].json.PrestaShop_Body.body.name[\"1\"];\n} else if (typeof items[0].json.PrestaShop_Body.body.name === 'string') {\n    // If it's already in the desired format, assign the value directly\n    name = items[0].json.PrestaShop_Body.body.name;\n}\n\n// Check if the description_short field is in object format with an index \"1\"\nif (typeof items[0].json.PrestaShop_Body.body.description_short === 'object' && items[0].json.PrestaShop_Body.body.description_short.hasOwnProperty(\"1\")) {\n    // Extract the value from index \"1\"\n    description_short = items[0].json.PrestaShop_Body.body.description_short[\"1\"];\n} else if (typeof items[0].json.PrestaShop_Body.body.description_short === 'string') {\n    // If it's already in the desired format, assign the value directly\n    description_short = items[0].json.PrestaShop_Body.body.description_short;\n}\n\n// Modify price based on id_tax_rules_group\nif ([1, 10, 11, 18, 32, 41, 46, 50].includes(id_tax_rules_group)) {\n    price = price * 1.04;  // 4% increase\n} else if ([2, 7, 8, 26, 29, 37].includes(id_tax_rules_group)) {\n    price = price * 1;  // 0% increase\n} else if (id_tax_rules_group === 3) {\n    price = price * 1.066;  // 6.6% increase\n} else if ([4, 9, 12, 15, 17, 20, 22, 38, 40, 45, 48, 52].includes(id_tax_rules_group)) {\n    price = price * 1.06;  // 6% increase\n} else if (id_tax_rules_group === 5) {\n    price = price * 1.0825;  // 8.25% increase\n} else if (id_tax_rules_group === 6) {\n    price = price * 1.029;  // 2.9% increase\n} else if ([13, 21, 43].includes(id_tax_rules_group)) {\n    price = price * 1.0625;  // 6.25% increase\n} else if ([14, 24, 30, 39, 42].includes(id_tax_rules_group)) {\n    price = price * 1.07;  // 7% increase\n} else if (id_tax_rules_group === 16) {\n    price = price * 1.053;  // 5.3% increase\n} else if ([19, 34, 49].includes(id_tax_rules_group)) {\n    price = price * 1.05;  // 5% increase\n} else if (id_tax_rules_group === 23) {\n    price = price * 1.06875;  // 6.875% increase\n} else if (id_tax_rules_group === 25) {\n    price = price * 1.04225;  // 4.225% increase\n} else if ([27, 33, 35, 51].includes(id_tax_rules_group)) {\n    price = price * 1.055;  // 5.5% increase\n} else if (id_tax_rules_group === 28) {\n    price = price * 1.0685;  // 6.85% increase\n} else if (id_tax_rules_group === 31) {\n    price = price * 1.05125;  // 5.125% increase\n} else if (id_tax_rules_group === 36) {\n    price = price * 1.045;  // 4.5% increase\n} else if (id_tax_rules_group === 44) {\n    price = price * 1.0475;  // 4.75% increase\n} else if (id_tax_rules_group === 47) {\n    price = price * 1.065;  // 6.5% increase\n}\n\n\n// Update the original PrestaShop_Body price\nitems[0].json.PrestaShop_Body.body.price = price;\n\n\n// Return the object with the name field\nreturn {\n    json: {\n        name: name,\n        description_short: description_short,\n        env,\n        auth,\n        id,\n        webhook,\n        quantity,\n        price,\n        sku,\n        barcode,\n        cost,\n        status,\n        PrestaShop_Body\n        \n    }\n};\n\n"
      },
      "id": "a9d569d2-ede0-47f3-9ad9-86b2038179d2",
      "name": "Update name1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        1000
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equal",
              "value2": 200
            }
          ]
        }
      },
      "id": "f10ce7af-ea30-4f59-93f4-b83665da577b",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1300,
        640
      ]
    },
    {
      "parameters": {
        "url": "=https://api.{{ $('Update name1').item.json.env }}.gosharpei.com/api/products/{{ $('Update name1').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Update name1').item.json.auth }}"
            }
          ]
        },
        "options": {}
      },
      "id": "284cd148-bfea-4a0e-9442-b1656ba24321",
      "name": "Validate product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2820,
        1000
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.{{ $('Update name1').item.json.env }}.gosharpei.com/api/products/{{ $('Update name1').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Update name1').item.json.auth }}"
            }
          ]
        },
        "options": {}
      },
      "id": "456e716f-aa99-44e1-86a3-2a4767bc14e6",
      "name": "validate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4320,
        1260
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfc5157b-d7c4-4a26-8869-ec07584f31c5",
              "name": "index",
              "value": "={{$runIndex }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "06e3f28c-ba96-4ba9-8997-fb2e6da4b14b",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3740,
        1260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a085716c-cd52-4784-958e-80291abc4d9d",
              "leftValue": "={{$json.index}}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3ca714d1-df17-41a0-8c70-367271919f91",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3920,
        1260
      ]
    },
    {
      "parameters": {},
      "id": "ee583abc-f9e0-4269-9937-856703b80d23",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4100,
        1260
      ]
    },
    {
      "parameters": {},
      "id": "4de94dc7-cb94-4fb3-a097-ea6c676b6cec",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.error.status }}",
              "operation": "equal",
              "value2": 401
            }
          ]
        }
      },
      "id": "855c2057-1b4f-46fc-8fb8-5739d3f651fc",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1480,
        640
      ]
    },
    {
      "parameters": {
        "errorMessage": "Unauthorized"
      },
      "id": "71caf74b-7367-4d8a-abdb-7f2987355edb",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1680,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "415faff3-0212-47b4-8958-f5b0bc02da21",
              "leftValue": "={{ $('Update name1').item.json.active }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "faa472e0-b09c-4703-997d-b653c1a8b9cb",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        980
      ]
    },
    {
      "parameters": {
        "sendTo": "josebrest25@gmail.com",
        "subject": "All Zone - Prestashop webhook prod",
        "message": "={{ $execution.id}}  2y$10$uIYEY6Q.Hk10YmSc68sKN..0nho1gc9tpzAgePdz/GbsIHA5oQn1.",
        "options": {}
      },
      "id": "1f6025d6-8f91-4f8a-b82a-74a23e174866",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        420,
        1480
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "MMR6YWjk7bfVViQ4",
          "name": "Gmail account 9"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2edb7676-6add-4485-b75d-b4e375ca5bc6",
              "leftValue": "={{ $json.headers.authorization }}",
              "rightValue": "=2y$10$uIYEY6Q.Hk10YmSc68sKN..0nho1gc9tpzAgePdz/GbsIHA5oQn1.",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dc0006bf-16d8-440e-a0c9-90a05f29cb15",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        180,
        1480
      ]
    },
    {
      "parameters": {},
      "id": "da42a451-be7c-426a-9cc0-223c3dfca3c2",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "276e2c9a-73f3-45ef-999d-6de0bdc55595",
              "leftValue": "={{ $json.data.status.name }}",
              "rightValue": "=Archived",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "adebe706-59d4-4c22-b44f-0dbafa366565",
      "name": "If archived",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        940,
        1000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fa88a073-525d-4e6e-a4e7-60dc8aad0925",
              "leftValue": "={{ $json.data.variants[0].status.name }}",
              "rightValue": "Active",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "dd478505-87cb-42ff-a3d8-cb3adc5ddd8a",
              "leftValue": "={{ $json.data.variants[0].status.name }}",
              "rightValue": "Draft",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "beb3799f-d707-494e-be76-5fd7618d1694",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3040,
        1000
      ]
    },
    {
      "parameters": {
        "errorMessage": "Status in null"
      },
      "id": "31dead4f-b806-4bd8-97a4-d53ebee8a616",
      "name": "Stop and Error1",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3240,
        900
      ]
    },
    {
      "parameters": {
        "errorMessage": "Status in null"
      },
      "id": "5cf7145d-4af6-47a4-80e8-9af5d0ade9ec",
      "name": "Stop and Error2",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        4720,
        1160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fa88a073-525d-4e6e-a4e7-60dc8aad0925",
              "leftValue": "={{ $json.data.variants[$runIndex].status.name }}",
              "rightValue": "Active",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "dd478505-87cb-42ff-a3d8-cb3adc5ddd8a",
              "leftValue": "={{ $json.data.variants[$runIndex].status.name }}",
              "rightValue": "Draft",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4cee1cba-56c3-46c4-afe6-3ce1ef8472b6",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4520,
        1260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "590bd2c1-8644-420d-8c59-3874953992ce",
              "leftValue": "={{ $json.PrestaShop_Body.PrestaShop_Body.body.id_order }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3aad8735-0743-49f4-9167-39be7e909539",
      "name": "Order Webhook",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        420,
        1000
      ]
    },
    {
      "parameters": {
        "workflowId": "eYFVVPlOrlSZ5YUy",
        "options": {}
      },
      "id": "bd78b5fc-9db4-4ad3-8bbf-7ac07021a5f6",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        740,
        1260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "217207d6-d3ec-4b94-a20e-0e1e3f8032e2",
              "name": "env",
              "value": "={{ $('Update name1').item.json.env }}",
              "type": "string"
            },
            {
              "id": "e42977f4-48c6-4913-93e4-0dc4a2dea299",
              "name": "auth",
              "value": "={{ $('Update name1').item.json.auth }}",
              "type": "string"
            },
            {
              "id": "b2ba4dc9-f6b3-456a-b3d0-d864c2d028fc",
              "name": "PrestaShop_Body.PrestaShop_Body.body.id_order",
              "value": "={{ $('Update name1').item.json.PrestaShop_Body.PrestaShop_Body.body.id_order }}",
              "type": "number"
            },
            {
              "id": "9019d583-eeed-4809-8ca2-5ddf23606570",
              "name": "PrestaShop_Body.PrestaShop_Body.body.status",
              "value": "={{ $('Update name1').item.json.PrestaShop_Body.PrestaShop_Body.body.status }}",
              "type": "number"
            },
            {
              "id": "50dbae44-da2e-4587-bca5-811aa7f00c40",
              "name": "PrestaShop_Body.PrestaShop_Body.body.total",
              "value": "={{ $json.PrestaShop_Body.PrestaShop_Body.body.total }}",
              "type": "string"
            },
            {
              "id": "97b7772c-70f0-49fe-9361-925fff7404b3",
              "name": "PrestaShop_Body.PrestaShop_Body.body.products[0].id_product",
              "value": "={{ $json.PrestaShop_Body.PrestaShop_Body.body.products[0].id_product }}",
              "type": "number"
            },
            {
              "id": "9adf29ba-d813-460c-9e75-ad0f6417c228",
              "name": "PrestaShop_Body.PrestaShop_Body.body.products[0].name",
              "value": "={{ $json.PrestaShop_Body.PrestaShop_Body.body.products[0].name }}",
              "type": "string"
            },
            {
              "id": "6196ace6-01ae-481c-9183-4143c5091adc",
              "name": "PrestaShop_Body.PrestaShop_Body.body.products[0].quantity",
              "value": "={{ $json.PrestaShop_Body.PrestaShop_Body.body.products[0].quantity }}",
              "type": "number"
            },
            {
              "id": "d1d97bc2-58a9-4ed2-bc0a-e9737b1fae38",
              "name": "PrestaShop_Body.PrestaShop_Body.body.products[0].price",
              "value": "={{ $json.PrestaShop_Body.PrestaShop_Body.body.products[0].price }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "e3e147fe-58cd-4acb-b895-b322d4c0e144",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        1260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c4884a1a-be36-484c-b93d-9f3327104532",
              "leftValue": "={{ $json.secKey }}",
              "rightValue": "={{ $json.secKey }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "cc68c77e-2ab4-49fb-b6f2-94f2176aabc9",
      "name": "If5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -560,
        780
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0b8d0f2-3128-4c7f-a54a-2bd654d8241e",
              "name": "PrestaShop_Body",
              "value": "={{ $('Get Full Json1').item.json.PrestaShop_Body }}",
              "type": "object"
            },
            {
              "id": "e4b6e4b9-a407-4b3d-8acb-fd2fa7f8ac9e",
              "name": "env",
              "value": "dev",
              "type": "string"
            },
            {
              "id": "d1c011ec-1146-4805-9ec9-b42a100e087b",
              "name": "id",
              "value": "={{ $('Prestashop-Dev').item.json.body.id || $('Prestashop-Dev').item.json.body.id_product }}\n",
              "type": "number"
            },
            {
              "id": "be8e3846-044f-4c55-807f-33f5fb1c1428",
              "name": "webhook",
              "value": "Prestashop-Dev",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cd704517-0b28-4ad2-b7c5-0da42695981f",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        780
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableName": "={{ $json.table }}",
        "keyConditionExpression": "primKey = :id",
        "eavUi": {
          "eavValues": [
            {
              "attribute": "id",
              "value": "={{ $('Prestashop-Dev').item.json.headers.authorization }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4c192f60-7da1-471c-b103-10275bf11988",
      "name": "Get Shop pid from api key1",
      "type": "n8n-nodes-base.awsDynamoDb",
      "typeVersion": 1,
      "position": [
        -960,
        780
      ],
      "credentials": {
        "aws": {
          "id": "MD1gD1OR4nQFqULd",
          "name": "AWS account California"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableName": "={{ $('Get Full Json').item.json.table }}",
        "keyConditionExpression": "primKey = :id",
        "eavUi": {
          "eavValues": [
            {
              "attribute": ":id",
              "value": "={{$json.secKey}}"
            }
          ]
        },
        "returnAll": true,
        "select": "SPECIFIC_ATTRIBUTES",
        "simple": false,
        "options": {
          "projectionExpression": "secKey"
        }
      },
      "id": "001da01c-6d29-43f1-99a7-33dbdf20dcdb",
      "name": "Get all ids",
      "type": "n8n-nodes-base.awsDynamoDb",
      "typeVersion": 1,
      "position": [
        -760,
        1000
      ],
      "credentials": {
        "aws": {
          "id": "13q96ZBvETwl5Y2X",
          "name": "AWS account  Paris"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c4884a1a-be36-484c-b93d-9f3327104532",
              "leftValue": "={{ $('Prestashop-Dev').item.json.query.create }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "5e9f51e1-6190-406f-ab8c-fae6c4b97a76",
      "name": "If6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -360,
        780
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableName": "={{ $json.table }}",
        "keyConditionExpression": "primKey = :id",
        "eavUi": {
          "eavValues": [
            {
              "attribute": "id",
              "value": "={{ $('PrestaShop').item.json.headers.authorization }}"
            }
          ]
        },
        "returnAll": true,
        "options": {}
      },
      "id": "1df565cc-8baf-4878-a911-72896b07d6f0",
      "name": "Get Shop pid from api key",
      "type": "n8n-nodes-base.awsDynamoDb",
      "typeVersion": 1,
      "position": [
        -960,
        1200
      ],
      "credentials": {
        "aws": {
          "id": "13q96ZBvETwl5Y2X",
          "name": "AWS account  Paris"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableName": "={{ $('Get Full Json').item.json.table }}",
        "keysUi": {
          "keyValues": [
            {
              "key": "primKey",
              "value": "={{ $json.secKey }}"
            },
            {
              "key": "secKey",
              "value": "={{         typeof $('PrestaShop').item.json.body.combinations === 'object' && !Array.isArray($('PrestaShop').item.json.body.combinations) ?         Object.values($('PrestaShop').item.json.body.combinations)[0].id_product_attribute :         (         $('PrestaShop').item.json.body.id ?               $('PrestaShop').item.json.body.id.toString() :               $('PrestaShop').item.json.body.id_product.toString()     )   }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "877bb58c-d28a-4df9-a6b3-8f5842457d45",
      "name": "AWS DynamoDB1",
      "type": "n8n-nodes-base.awsDynamoDb",
      "typeVersion": 1,
      "position": [
        -760,
        1200
      ],
      "credentials": {
        "aws": {
          "id": "13q96ZBvETwl5Y2X",
          "name": "AWS account  Paris"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c4884a1a-be36-484c-b93d-9f3327104532",
              "leftValue": "={{ $json.secKey}}",
              "rightValue": "={{ $json.secKey }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "5ac0aeb4-a3d5-4ae8-a820-ba40d8140b75",
      "name": "If7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -560,
        1200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c4884a1a-be36-484c-b93d-9f3327104532",
              "leftValue": "={{ $('PrestaShop').item.json.query.create }}",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "29b14076-96be-4db6-aa68-0aef0312b257",
      "name": "If8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -360,
        1200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0b8d0f2-3128-4c7f-a54a-2bd654d8241e",
              "name": "PrestaShop_Body",
              "value": "={{ $('Get Full Json').item.json.PrestaShop_Body }}",
              "type": "object"
            },
            {
              "id": "e4b6e4b9-a407-4b3d-8acb-fd2fa7f8ac9e",
              "name": "env",
              "value": "prod",
              "type": "string"
            },
            {
              "id": "d1c011ec-1146-4805-9ec9-b42a100e087b",
              "name": "id",
              "value": "={{ $('PrestaShop').item.json.body.id || $('PrestaShop').item.json.body.id_product }}",
              "type": "number"
            },
            {
              "id": "be8e3846-044f-4c55-807f-33f5fb1c1428",
              "name": "webhook",
              "value": "PrestaShop",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d3b070c5-859f-4978-956b-0d40253677d4",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener los datos de entrada\nconst inputData = $input.all();\n\n// Asumir que siempre habr치 al menos un elemento en items\nconst firstItem = inputData[0].json;\n\n// Procesar los datos para obtener el ID correcto\nconst body = firstItem.body;\nconst id = body.id !== undefined ? body.id : body.id_product;\n\n// Construir el objeto final\nconst result = {\n  PrestaShop_Body: firstItem,\n  env: \"prod\",\n  id\n};\n\n\nreturn {\n  \n  PrestaShop_Body: items[0].json,\n  env: \"prod\",\n  id,\n  webhook:\"PrestaShop\",\n  table: \"automationCache\"\n  \n};\n\n\n\n\n"
      },
      "id": "074049bb-cf5b-4138-b6b6-27c0d8559893",
      "name": "Get Full Json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1160,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener los datos de entrada\nconst inputData = $input.all();\n\n// Asumir que siempre habr치 al menos un elemento en items\nconst firstItem = inputData[0].json;\n\n// Procesar los datos para obtener el ID correcto\nconst body = firstItem.body;\nconst id = body.id !== undefined ? body.id : body.id_product;\n\n// Construir el objeto final\nconst result = {\n  PrestaShop_Body: firstItem,\n  env: \"prod\",\n  id\n};\n\n\nreturn {\n  \n  PrestaShop_Body: items[0].json,\n  \"env \": \"dev\",\n  id,\n  webhook:\"Prestashop-Dev\",\n  table: \"automationCache\"\n  \n  \n};\n\n\n\n\n"
      },
      "id": "0f9a486e-2e41-4819-a704-8a921e886fd5",
      "name": "Get Full Json1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1160,
        780
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableName": "={{ $('Get Full Json1').item.json.table }}",
        "keyConditionExpression": "primKey = :id",
        "eavUi": {
          "eavValues": [
            {
              "attribute": ":id",
              "value": "={{$json.secKey}}"
            }
          ]
        },
        "returnAll": true,
        "select": "SPECIFIC_ATTRIBUTES",
        "simple": false,
        "options": {
          "projectionExpression": "secKey"
        }
      },
      "id": "6b59df1a-f164-4f60-a4ba-0b7a219647f4",
      "name": "Get all ids1",
      "type": "n8n-nodes-base.awsDynamoDb",
      "typeVersion": 1,
      "position": [
        -760,
        540
      ],
      "credentials": {
        "aws": {
          "id": "MD1gD1OR4nQFqULd",
          "name": "AWS account California"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prod-prestashop",
        "options": {}
      },
      "id": "6aa3210c-170c-4d7c-91f8-ef2c3506ad8b",
      "name": "PrestaShop",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1380,
        1200
      ],
      "webhookId": "5e39a3fb-9a6a-4544-9457-27a8800a9d45"
    },
    {
      "parameters": {
        "operation": "get",
        "tableName": "={{ $('Get Full Json1').item.json.table }}",
        "keysUi": {
          "keyValues": [
            {
              "key": "primKey",
              "value": "={{ $json.secKey }}"
            },
            {
              "key": "secKey",
              "value": "={{         typeof $('Prestashop-Dev').item.json.body.combinations === 'object' && !Array.isArray($('Prestashop-Dev').item.json.body.combinations) ?         Object.values($('Prestashop-Dev').item.json.body.combinations)[0].id_product_attribute :         (         $('Prestashop-Dev').item.json.body.id ?               $('Prestashop-Dev').item.json.body.id.toString() :             $('Prestashop-Dev').item.json.body.id_product.toString()     )   }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "fea1f20e-36cb-4a11-93dd-c8237329a922",
      "name": "AWS DynamoDB",
      "type": "n8n-nodes-base.awsDynamoDb",
      "typeVersion": 1,
      "position": [
        -760,
        780
      ],
      "credentials": {
        "aws": {
          "id": "MD1gD1OR4nQFqULd",
          "name": "AWS account California"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dev-prestashop",
        "options": {}
      },
      "id": "d5689678-dc9d-4b37-badc-46e27971038e",
      "name": "Prestashop-Dev",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1380,
        780
      ],
      "webhookId": "ef2312d3-0e66-4613-a1a6-ec797f6c043d"
    }
  ],
  "connections": {
    "Update combination": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Image1": {
      "main": [
        [
          {
            "node": "Update combination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload1": {
      "main": [
        [
          {
            "node": "Add Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create combination": {
      "main": [
        [
          {
            "node": "Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set6": {
      "main": [
        [
          {
            "node": "Create combination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        null,
        [
          {
            "node": "Set6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Object": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create  Product": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinations": {
      "main": [
        [
          {
            "node": "Create  Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if1": {
      "main": [
        [
          {
            "node": "Create  Product and default variant1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Combinations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Execute Update Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a variant1": {
      "main": [
        [
          {
            "node": "Validate product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Image2": {
      "main": [
        [
          {
            "node": "Update a variant1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload2": {
      "main": [
        [
          {
            "node": "Add Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product by Remote Id / Json Update Stock2": {
      "main": [
        [
          {
            "node": "Upload2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create  Product and default variant1": {
      "main": [
        [
          {
            "node": "Get Product by Remote Id / Json Update Stock2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product by Remote Id / Json Update Stock3": {
      "main": [
        [
          {
            "node": "If archived",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update name1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Order Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate product": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "validate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "if1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If archived": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Webhook": {
      "main": [
        [
          {
            "node": "Get Product by Remote Id / Json Update Stock3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Update name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shop pid from api key1": {
      "main": [
        [
          {
            "node": "AWS DynamoDB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get all ids1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shop pid from api key": {
      "main": [
        [
          {
            "node": "AWS DynamoDB1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get all ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS DynamoDB1": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        null,
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Update name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Json": {
      "main": [
        [
          {
            "node": "Get Shop pid from api key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Json1": {
      "main": [
        [
          {
            "node": "Get Shop pid from api key1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrestaShop": {
      "main": [
        [
          {
            "node": "Get Full Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS DynamoDB": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prestashop-Dev": {
      "main": [
        [
          {
            "node": "Get Full Json1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Prestashop-Dev": [
      {
        "headers": {
          "x-forwarded-for": "44.206.89.54",
          "x-forwarded-proto": "https",
          "x-forwarded-port": "443",
          "host": "automation.prod.gosharpei.com",
          "x-amzn-trace-id": "Root=1-678f1f8e-6ff4c72a0c59766437586452",
          "content-length": "11725",
          "accept": "*/*",
          "content-type": "application/json",
          "authorization": "$2y$10$ovUpHzzL9EK54rVQxo.ggurp7h2ygWXMwfLITyu2PtIhraHDPGRQS"
        },
        "params": {},
        "query": {
          "create": "true"
        },
        "body": {
          "id": 350,
          "\u0000*\u0000id_lang": null,
          "\u0000*\u0000lang_associated": null,
          "\u0000*\u0000id_shop": 1,
          "id_shop_list": [],
          "\u0000*\u0000get_shop_from_context": true,
          "\u0000*\u0000table": "product",
          "\u0000*\u0000identifier": "id_product",
          "\u0000*\u0000fieldsRequired": [
            "price"
          ],
          "\u0000*\u0000fieldsSize": {
            "reference": 64,
            "supplier_reference": 64,
            "location": 255,
            "ean13": 13,
            "isbn": 32,
            "upc": 12,
            "mpn": 40
          },
          "\u0000*\u0000fieldsValidate": {
            "id_shop_default": "isUnsignedId",
            "id_manufacturer": "isUnsignedId",
            "id_supplier": "isUnsignedId",
            "reference": "isReference",
            "supplier_reference": "isReference",
            "location": "isString",
            "width": "isUnsignedFloat",
            "height": "isUnsignedFloat",
            "depth": "isUnsignedFloat",
            "weight": "isUnsignedFloat",
            "quantity_discount": "isBool",
            "ean13": "isEan13",
            "isbn": "isIsbn",
            "upc": "isUpc",
            "mpn": "isMpn",
            "cache_is_pack": "isBool",
            "cache_has_attachments": "isBool",
            "is_virtual": "isBool",
            "state": "isUnsignedId",
            "additional_delivery_times": "isUnsignedId",
            "product_type": "isGenericName",
            "id_category_default": "isUnsignedId",
            "id_tax_rules_group": "isUnsignedId",
            "on_sale": "isBool",
            "online_only": "isBool",
            "ecotax": "isPrice",
            "minimal_quantity": "isPositiveInt",
            "low_stock_threshold": "isInt",
            "low_stock_alert": "isBool",
            "price": "isPrice",
            "wholesale_price": "isPrice",
            "unity": "isString",
            "unit_price": "isPrice",
            "additional_shipping_cost": "isPrice",
            "customizable": "isUnsignedInt",
            "text_fields": "isUnsignedInt",
            "uploadable_files": "isUnsignedInt",
            "active": "isBool",
            "redirect_type": "isString",
            "id_type_redirected": "isUnsignedId",
            "available_for_order": "isBool",
            "available_date": "isDateFormat",
            "show_condition": "isBool",
            "condition": "isGenericName",
            "show_price": "isBool",
            "indexed": "isBool",
            "visibility": "isProductVisibility",
            "advanced_stock_management": "isBool",
            "date_add": "isDate",
            "date_upd": "isDate",
            "pack_stock_type": "isUnsignedInt"
          },
          "\u0000*\u0000fieldsRequiredLang": [],
          "\u0000*\u0000fieldsSizeLang": {
            "delivery_in_stock": 255,
            "delivery_out_stock": 255,
            "meta_description": 512,
            "meta_keywords": 255,
            "meta_title": 255,
            "link_rewrite": 128,
            "name": 128,
            "available_now": 255,
            "available_later": 255
          },
          "\u0000*\u0000fieldsValidateLang": {
            "delivery_in_stock": "isGenericName",
            "delivery_out_stock": "isGenericName",
            "meta_description": "isGenericName",
            "meta_keywords": "isGenericName",
            "meta_title": "isGenericName",
            "link_rewrite": "isLinkRewrite",
            "name": "isCatalogName",
            "description": "isCleanHtml",
            "description_short": "isCleanHtml",
            "available_now": "isGenericName",
            "available_later": "IsGenericName"
          },
          "\u0000*\u0000tables": [],
          "\u0000*\u0000webserviceParameters": {
            "objectMethods": {
              "add": "addWs",
              "update": "updateWs"
            },
            "objectNodeNames": "products",
            "fields": {
              "id_manufacturer": {
                "xlink_resource": "manufacturers"
              },
              "id_supplier": {
                "xlink_resource": "suppliers"
              },
              "id_category_default": {
                "xlink_resource": "categories"
              },
              "new": [],
              "cache_default_attribute": [],
              "id_default_image": {
                "getter": "getCoverWs",
                "setter": "setCoverWs",
                "xlink_resource": {
                  "resourceName": "images",
                  "subResourceName": "products"
                }
              },
              "id_default_combination": {
                "getter": "getWsDefaultCombination",
                "setter": "setWsDefaultCombination",
                "xlink_resource": {
                  "resourceName": "combinations"
                }
              },
              "id_tax_rules_group": {
                "xlink_resource": {
                  "resourceName": "tax_rule_groups"
                }
              },
              "position_in_category": {
                "getter": "getWsPositionInCategory",
                "setter": "setWsPositionInCategory"
              },
              "manufacturer_name": {
                "getter": "getWsManufacturerName",
                "setter": false
              },
              "quantity": {
                "getter": false,
                "setter": false
              },
              "type": {
                "getter": "getWsType",
                "setter": "setWsType"
              }
            },
            "associations": {
              "categories": {
                "resource": "category",
                "fields": {
                  "id": {
                    "required": true
                  }
                }
              },
              "images": {
                "resource": "image",
                "fields": {
                  "id": []
                }
              },
              "combinations": {
                "resource": "combination",
                "fields": {
                  "id": {
                    "required": true
                  }
                }
              },
              "product_option_values": {
                "resource": "product_option_value",
                "fields": {
                  "id": {
                    "required": true
                  }
                }
              },
              "product_features": {
                "resource": "product_feature",
                "fields": {
                  "id": {
                    "required": true
                  },
                  "id_feature_value": {
                    "required": true,
                    "xlink_resource": "product_feature_values"
                  }
                }
              },
              "tags": {
                "resource": "tag",
                "fields": {
                  "id": {
                    "required": true
                  }
                }
              },
              "stock_availables": {
                "resource": "stock_available",
                "fields": {
                  "id": {
                    "required": true
                  },
                  "id_product_attribute": {
                    "required": true
                  }
                },
                "setter": false
              },
              "attachments": {
                "resource": "attachment",
                "api": "attachments",
                "fields": {
                  "id": {
                    "required": true
                  }
                }
              },
              "accessories": {
                "resource": "product",
                "api": "products",
                "fields": {
                  "id": {
                    "required": true,
                    "xlink_resource": "products"
                  }
                }
              },
              "product_bundle": {
                "resource": "product",
                "api": "products",
                "fields": {
                  "id": {
                    "required": true
                  },
                  "id_product_attribute": [],
                  "quantity": []
                }
              }
            }
          },
          "\u0000*\u0000image_dir": null,
          "\u0000*\u0000image_format": "jpg",
          "\u0000*\u0000translator": null,
          "\u0000*\u0000def": {
            "table": "product",
            "primary": "id_product",
            "multilang": true,
            "multilang_shop": true,
            "fields": {
              "id_shop_default": {
                "type": 1,
                "validate": "isUnsignedId"
              },
              "id_manufacturer": {
                "type": 1,
                "validate": "isUnsignedId"
              },
              "id_supplier": {
                "type": 1,
                "validate": "isUnsignedId"
              },
              "reference": {
                "type": 3,
                "validate": "isReference",
                "size": 64
              },
              "supplier_reference": {
                "type": 3,
                "validate": "isReference",
                "size": 64
              },
              "location": {
                "type": 3,
                "validate": "isString",
                "size": 255
              },
              "width": {
                "type": 4,
                "validate": "isUnsignedFloat"
              },
              "height": {
                "type": 4,
                "validate": "isUnsignedFloat"
              },
              "depth": {
                "type": 4,
                "validate": "isUnsignedFloat"
              },
              "weight": {
                "type": 4,
                "validate": "isUnsignedFloat"
              },
              "quantity_discount": {
                "type": 2,
                "validate": "isBool"
              },
              "ean13": {
                "type": 3,
                "validate": "isEan13",
                "size": 13
              },
              "isbn": {
                "type": 3,
                "validate": "isIsbn",
                "size": 32
              },
              "upc": {
                "type": 3,
                "validate": "isUpc",
                "size": 12
              },
              "mpn": {
                "type": 3,
                "validate": "isMpn",
                "size": 40
              },
              "cache_is_pack": {
                "type": 2,
                "validate": "isBool"
              },
              "cache_has_attachments": {
                "type": 2,
                "validate": "isBool"
              },
              "is_virtual": {
                "type": 2,
                "validate": "isBool"
              },
              "state": {
                "type": 1,
                "validate": "isUnsignedId"
              },
              "additional_delivery_times": {
                "type": 1,
                "validate": "isUnsignedId"
              },
              "delivery_in_stock": {
                "type": 3,
                "lang": true,
                "validate": "isGenericName",
                "size": 255
              },
              "delivery_out_stock": {
                "type": 3,
                "lang": true,
                "validate": "isGenericName",
                "size": 255
              },
              "product_type": {
                "type": 3,
                "validate": "isGenericName",
                "values": [
                  "standard",
                  "pack",
                  "virtual",
                  "combinations",
                  ""
                ],
                "default": ""
              },
              "id_category_default": {
                "type": 1,
                "shop": true,
                "validate": "isUnsignedId"
              },
              "id_tax_rules_group": {
                "type": 1,
                "shop": true,
                "validate": "isUnsignedId"
              },
              "on_sale": {
                "type": 2,
                "shop": true,
                "validate": "isBool"
              },
              "online_only": {
                "type": 2,
                "shop": true,
                "validate": "isBool"
              },
              "ecotax": {
                "type": 4,
                "shop": true,
                "validate": "isPrice"
              },
              "minimal_quantity": {
                "type": 1,
                "shop": true,
                "validate": "isPositiveInt"
              },
              "low_stock_threshold": {
                "type": 1,
                "shop": true,
                "allow_null": true,
                "validate": "isInt"
              },
              "low_stock_alert": {
                "type": 2,
                "shop": true,
                "validate": "isBool"
              },
              "price": {
                "type": 4,
                "shop": true,
                "validate": "isPrice",
                "required": true
              },
              "wholesale_price": {
                "type": 4,
                "shop": true,
                "validate": "isPrice"
              },
              "unity": {
                "type": 3,
                "shop": true,
                "validate": "isString"
              },
              "unit_price": {
                "type": 4,
                "shop": true,
                "validate": "isPrice"
              },
              "unit_price_ratio": {
                "type": 4,
                "shop": true
              },
              "additional_shipping_cost": {
                "type": 4,
                "shop": true,
                "validate": "isPrice"
              },
              "customizable": {
                "type": 1,
                "shop": true,
                "validate": "isUnsignedInt"
              },
              "text_fields": {
                "type": 1,
                "shop": true,
                "validate": "isUnsignedInt"
              },
              "uploadable_files": {
                "type": 1,
                "shop": true,
                "validate": "isUnsignedInt"
              },
              "active": {
                "type": 2,
                "shop": true,
                "validate": "isBool"
              },
              "redirect_type": {
                "type": 3,
                "shop": true,
                "validate": "isString"
              },
              "id_type_redirected": {
                "type": 1,
                "shop": true,
                "validate": "isUnsignedId"
              },
              "available_for_order": {
                "type": 2,
                "shop": true,
                "validate": "isBool"
              },
              "available_date": {
                "type": 5,
                "shop": true,
                "validate": "isDateFormat"
              },
              "show_condition": {
                "type": 2,
                "shop": true,
                "validate": "isBool"
              },
              "condition": {
                "type": 3,
                "shop": true,
                "validate": "isGenericName",
                "values": [
                  "new",
                  "used",
                  "refurbished"
                ],
                "default": "new"
              },
              "show_price": {
                "type": 2,
                "shop": true,
                "validate": "isBool"
              },
              "indexed": {
                "type": 2,
                "shop": true,
                "validate": "isBool"
              },
              "visibility": {
                "type": 3,
                "shop": true,
                "validate": "isProductVisibility",
                "values": [
                  "both",
                  "catalog",
                  "search",
                  "none"
                ],
                "default": "both"
              },
              "cache_default_attribute": {
                "type": 1,
                "shop": true
              },
              "advanced_stock_management": {
                "type": 2,
                "shop": true,
                "validate": "isBool"
              },
              "date_add": {
                "type": 5,
                "shop": true,
                "validate": "isDate"
              },
              "date_upd": {
                "type": 5,
                "shop": true,
                "validate": "isDate"
              },
              "pack_stock_type": {
                "type": 1,
                "shop": true,
                "validate": "isUnsignedInt"
              },
              "meta_description": {
                "type": 3,
                "lang": true,
                "validate": "isGenericName",
                "size": 512
              },
              "meta_keywords": {
                "type": 3,
                "lang": true,
                "validate": "isGenericName",
                "size": 255
              },
              "meta_title": {
                "type": 3,
                "lang": true,
                "validate": "isGenericName",
                "size": 255
              },
              "link_rewrite": {
                "type": 3,
                "lang": true,
                "validate": "isLinkRewrite",
                "required": false,
                "size": 128,
                "ws_modifier": {
                  "http_method": 2,
                  "modifier": "modifierWsLinkRewrite"
                }
              },
              "name": {
                "type": 3,
                "lang": true,
                "validate": "isCatalogName",
                "required": false,
                "size": 128
              },
              "description": {
                "type": 6,
                "lang": true,
                "validate": "isCleanHtml"
              },
              "description_short": {
                "type": 6,
                "lang": true,
                "validate": "isCleanHtml"
              },
              "available_now": {
                "type": 3,
                "lang": true,
                "validate": "isGenericName",
                "size": 255
              },
              "available_later": {
                "type": 3,
                "lang": true,
                "validate": "IsGenericName",
                "size": 255
              }
            },
            "associations": {
              "manufacturer": {
                "type": 1
              },
              "supplier": {
                "type": 1
              },
              "default_category": {
                "type": 1,
                "field": "id_category_default",
                "object": "Category"
              },
              "tax_rules_group": {
                "type": 1
              },
              "categories": {
                "type": 2,
                "field": "id_category",
                "object": "Category",
                "association": "category_product"
              },
              "stock_availables": {
                "type": 2,
                "field": "id_stock_available",
                "object": "StockAvailable",
                "association": "stock_availables"
              },
              "attachments": {
                "type": 2,
                "field": "id_attachment",
                "object": "Attachment",
                "association": "product_attachment"
              },
              "l": {
                "type": 2,
                "field": "id_product",
                "foreign_field": "id_product"
              }
            },
            "classname": "Product"
          },
          "\u0000*\u0000update_fields": null,
          "force_id": false,
          "tax_name": null,
          "tax_rate": null,
          "id_manufacturer": 0,
          "id_supplier": 0,
          "id_category_default": 2,
          "id_shop_default": 1,
          "manufacturer_name": null,
          "supplier_name": null,
          "name": {
            "1": "Google Pixel 7 Pro (Reacondicionado)",
            "3": "Google Pixel 7 Pro (Reacondicionado)"
          },
          "description": {
            "1": "",
            "3": ""
          },
          "description_short": {
            "1": "",
            "3": "<p>Google Pixel 7 Pro 128GB - Negro - Libre reacondicionado.</p>\n<p>Condici칩n correcta, con bater칤a est치ndar</p>"
          },
          "quantity": 0,
          "minimal_quantity": 1,
          "low_stock_threshold": 0,
          "low_stock_alert": "0",
          "available_now": {
            "1": "",
            "3": ""
          },
          "available_later": {
            "1": "",
            "3": ""
          },
          "price": "337.190000",
          "specificPrice": 0,
          "additional_shipping_cost": "0.000000",
          "wholesale_price": "0.000000",
          "on_sale": "0",
          "online_only": "0",
          "unity": "",
          "unit_price": "0.000000",
          "unit_price_ratio": "0.000000",
          "ecotax": "0.000000",
          "reference": "",
          "supplier_reference": "",
          "location": "",
          "width": "0.000000",
          "height": "0.000000",
          "depth": "0.000000",
          "weight": "0.000000",
          "ean13": "",
          "isbn": "",
          "upc": "",
          "mpn": "",
          "link_rewrite": {
            "1": "google-pixel-7-pro-reacondicionado",
            "3": "google-pixel-7-pro-reacondicionado"
          },
          "meta_description": {
            "1": "",
            "3": ""
          },
          "meta_keywords": {
            "1": "",
            "3": ""
          },
          "meta_title": {
            "1": "",
            "3": ""
          },
          "quantity_discount": "0",
          "customizable": 0,
          "new": null,
          "uploadable_files": 0,
          "text_fields": 0,
          "active": "1",
          "redirect_type": "default",
          "id_type_redirected": 0,
          "available_for_order": "1",
          "available_date": "0000-00-00",
          "show_condition": "0",
          "condition": "new",
          "show_price": "1",
          "indexed": "1",
          "visibility": "both",
          "date_add": "2025-01-20 18:08:08",
          "date_upd": "2025-01-20 18:09:38",
          "tags": null,
          "state": 1,
          "base_price": null,
          "id_tax_rules_group": 0,
          "id_color_default": 0,
          "advanced_stock_management": "0",
          "out_of_stock": 2,
          "depends_on_stock": null,
          "isFullyLoaded": false,
          "cache_is_pack": "0",
          "cache_has_attachments": "0",
          "is_virtual": "0",
          "id_pack_product_attribute": null,
          "cache_default_attribute": 0,
          "category": false,
          "pack_stock_type": 3,
          "additional_delivery_times": 1,
          "delivery_in_stock": {
            "1": "",
            "3": ""
          },
          "delivery_out_stock": {
            "1": "",
            "3": ""
          },
          "product_type": "standard",
          "stock_available": 2,
          "combinations": [],
          "images": [
            {
              "id_image": 575,
              "position": 1,
              "cover": 1,
              "url": "https://presta.dev.gosharpei.com/575-home_default/350.jpg"
            },
            {
              "id_image": 576,
              "position": 2,
              "cover": null,
              "url": "https://presta.dev.gosharpei.com/576-home_default/350.jpg"
            }
          ]
        },
        "webhookUrl": "http://https://automation.prod.gosharpei.com:5678/webhook/dev-prestashop",
        "executionMode": "production"
      }
    ]
  }
}