workflows/PrestaShop/Update_Prestashop_product.json
{
  "name": "游녶 Update PrestaShop Product",
  "nodes": [
    {
      "parameters": {
        "workflowId": "R6tILcIQGKOZ0HO4",
        "options": {}
      },
      "id": "5415153a-b99e-4398-bf5d-760ecb3660c0",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3620,
        1740
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c3eaedf-a56c-4492-b804-4510bb5c259c",
              "name": "=pid",
              "value": "={{ $('Execute Workflow Trigger').item.json.data.pid }}",
              "type": "string"
            },
            {
              "id": "80cb8a27-eff8-40e6-846c-f76a01831570",
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}",
              "type": "string"
            },
            {
              "id": "b721d509-46f9-4644-9179-cb6cde139ae6",
              "name": "env",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "52d82880-a394-473f-97a0-bfd3b59c2d28",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3420,
        1740
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Create combination').item.json.data[0].pid }}   ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Loop Over Items2').item.json.price == 0 ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.price : $('Loop Over Items2').item.json.price }}\",\n    \"title\": \"{{ $('Create combination').item.json.data[0].title }}\",\n    \"remote_id\": \"{{ $('Create combination').item.json.data[0].remote_id }}\",\n    \"status_pid\" : \"{{$('Loop Over Items2').item.json.quantity > 0 ? 'f1554bbc-3159-4044-8974-1da26a573ea3' : '8ccef96e-5eb3-4b66-bd16-86fec78ab575'}}\",\n    \"cost\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.wholesale_price }}\",\n    \"barcode\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.upc ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.upc : 'n/a' }}\",\n    \"SKU\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.reference ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.reference : 'n/a' }}\"\n\n  }       ",
        "options": {}
      },
      "id": "335f7b84-9eea-4668-83c8-33f574fa58e6",
      "name": "Update combination1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4700,
        1480
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "url": "={{\n  $('Loop Over Items2').item.json.image && \n  $('Loop Over Items2').item.json.image[0] && \n  $('Loop Over Items2').item.json.image[0].url &&\n  $('Loop Over Items2').item.json.image[0].url.length > 0\n  ? $('Loop Over Items2').item.json.image[0].url\n  : $('Edit Fields5').item.json.PrestaShop_Body.PrestaShop_Body.body.images[0].url\n}}\n\n  ",
        "options": {}
      },
      "id": "09ccfed5-33d0-49fd-af53-ae4e89d60e73",
      "name": "Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4260,
        1480
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/multiple        ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"selling_price\": \"{{ $('Loop Over Items2').item.json.price }}\",\n    \"title\": \"/ {{ $('Loop Over Items2').item.json.attributes.map(attr => attr.attribute).join(' - ') }}\",\n    \"status_pid\" : \"{{ $('Execute Workflow Trigger').item.json.data.status.pid }}\",\n    \"remote_id\": \"{{ $('Loop Over Items2').item.json.id_product_attribute }}\",\n    \"cost\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.wholesale_price }}\",\n    \"barcode\": {{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.upc ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.upc : '\"n/a\"' }},\n    \"SKU\": {{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.upc ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.upc : '\"n/a\"' }}\n\n  }\n]       \n                  ",
        "options": {}
      },
      "id": "50d967dc-235a-44f2-a2e9-ca81f7294e3a",
      "name": "Create combination",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4040,
        1480
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31622845-45d2-44ca-aa33-f2c271cfcb8e",
              "name": "fields",
              "value": "={{ $('If8').item.json.fields }}",
              "type": "array"
            },
            {
              "id": "53890f9b-8be3-4f3a-8557-d767b4734fb3",
              "name": "data.products_variants",
              "value": "={{ $('Execute Workflow Trigger').item.json.data.variants }}",
              "type": "array"
            },
            {
              "id": "99c91392-cbe0-44e7-8a05-4dcbbfbe63a5",
              "name": "PrestaShop_Body.PrestaShop_Body.body.images",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.images }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "e7b29b17-4619-4a9a-ae9f-1c3dde58244b",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2940,
        1480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "775a315f-6128-4c04-a71b-8a298a997ab7",
              "leftValue": "={{ $('Code2').item.json.activeVariantsCount }}",
              "rightValue": "={{ $json.fields.length }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "98beffa5-224b-4ab5-acd8-d3d7d8c6cbdb",
      "name": "If8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2540,
        1480
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "38ce905f-64a5-4851-93fe-56588d2a41e5",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3820,
        1220
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a94b984e-b949-4ec8-88d2-ed88237a87ca",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3620,
        1220
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "nonMatchingVariants",
        "options": {}
      },
      "id": "040ba8b7-f9c3-42b2-8c09-8bf02b54bb3e",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3420,
        1220
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Imprimir los datos recibidos para verificar la estructura\nconsole.log('Datos recibidos:', items);\n\nconst result = items.map(item => {\n    // Imprimir el contenido de cada item para verificar su estructura\n    console.log('Item:', item);\n\n    // Verificar que el objeto tiene la propiedad 'nonMatchingVariants'\n    const nonMatchingVariants = item.json.nonMatchingVariants ? item.json.nonMatchingVariants : [];\n\n    // Imprimir nonMatchingVariants para verificar que se est치n obteniendo correctamente\n    console.log('NonMatchingVariants:', nonMatchingVariants);\n\n    if (!nonMatchingVariants.length) {\n        return []; // Si no hay variantes no coincidentes, devolver un array vac칤o\n    }\n\n    // Filtrar variantes con estado 'Active' o 'Draft'\n    const filteredVariants = nonMatchingVariants.filter(variant => \n        variant.status.name === 'Active' || variant.status.name === 'Draft'\n    );\n\n    // Devolver las variantes filtradas bajo un campo espec칤fico\n    return [{ json: { nonMatchingVariants: filteredVariants } }];\n}).flat(); // Aplanar el array resultante\n\nconsole.log('Resultado:', result);\n\nreturn result;\n"
      },
      "id": "904769f1-41e6-428c-8018-c9b7b2da0f47",
      "name": "Code5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        1220
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Ordered variants').item.json.orderedVariants[$('Set6').item.json.counter].pid }}    ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Loop Over Items').item.json.fields.price == 0 ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.price : $('Loop Over Items').item.json.fields.price }}\",\n    \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'').replace(/\\n/g, ' ').trim() }} / {{ $('Loop Over Items').item.json.fields.attributes.map(attr => attr.attribute).join(' - ').replace(/['\"]+/g,'').replace(/\\n/g, ' ').trim() }}\",\n    \"remote_id\": \"{{ $('Loop Over Items').item.json.fields.id_product_attribute }}\",\n    \"status_pid\" : \"{{ $('Code3').item.json.pid }}\",\n    \"cost\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.wholesale_price }}\",\n    \"barcode\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.upc ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.upc : 'n/a' }}\",\n    \"SKU\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.reference ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.reference : 'n/a' }}\"\n\n  }                    ",
        "options": {}
      },
      "id": "8a9034ad-0a16-459b-a543-551b29a93b53",
      "name": "Update a variant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4460,
        1000
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f55abc1a-0001-4624-b044-6d39ee160bdd",
              "leftValue": "={{ $('Edit Fields').item.json.data.variants[$json.counter].selling_price }}",
              "rightValue": "={{ $json.fields.price.slice(0,6) }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "9e199800-51eb-460d-8068-1d86379824da",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.data.title }}",
              "rightValue": "={{ $('Update name1').item.json.name }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "fcd269ed-4515-42b9-9abf-92d45eea9e54",
              "leftValue": "={{ $('Edit Fields').item.json.data.variants[$json.counter].status.name }}",
              "rightValue": "Draft",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "72b1c34d-9e75-4d22-ad4a-d917f18d7ae8",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4260,
        1000
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Ordered variants').item.json.orderedVariants[$('Set6').item.json.counter].pid }}  ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Loop Over Items').item.json.fields.price == 0 ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.price : $('Loop Over Items').item.json.fields.price }}\",\n    \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'').replace(/\\n/g, ' ').trim() }} / {{ $('Loop Over Items').item.json.fields.attributes.map(attr => attr.attribute).join(' - ') }}\",\n    \"remote_id\": \"{{ $('Set6').item.json.fields.id_product_attribute }}\",\n    \"status_pid\" : \"{{ $('Get Status3').item.json.data.status[1].pid }}\",\n    \"cost\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.wholesale_price }}\",\n    \"barcode\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.upc ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.upc : 'n/a' }}\",\n    \"SKU\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.reference ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.reference : 'n/a' }}\"\n  }                ",
        "options": {}
      },
      "id": "78656a15-afc8-49da-8060-819948215423",
      "name": "Update a variant1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4260,
        820
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "29a3d429-1022-4690-94fd-696badbbb24c",
              "leftValue": "={{ $('Loop Over Items').item.json.fields.quantity }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "80f995d2-44ed-4a12-bcb5-cacbbfa56f69",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4040,
        1000
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "counter",
              "value": "={{ $runIndex }}"
            },
            {
              "name": "image_len",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.images.length }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0d92ba06-f909-4258-bc18-5a993bc8bbc0",
      "name": "Set6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3820,
        1000
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "97bcfcc6-2788-4fab-933c-75ac654e90ac",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3620,
        1000
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "fields, matchingVariants , data.variants",
        "options": {}
      },
      "id": "d9347375-c642-4f77-93e1-27943eae2337",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3420,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obt칠n los datos de la entrada del nodo\nconst items = $input.all();\n\nconst result = items.map(item => {\n    const data = item.json;\n    const fields = data.fields;\n    const variants = data.data.variants;\n\n    const resultFields = [];\n    const resultVariants = [];\n    const nonMatchingVariants = [];\n\n    fields.forEach(field => {\n        const matchingVariant = variants.find(variant => variant.remote_id === field.id_product_attribute.toString());\n        if (matchingVariant) {\n            resultFields.push(field);\n            resultVariants.push(matchingVariant);\n        }\n    });\n\n    variants.forEach(variant => {\n        const matchingField = fields.find(field => field.id_product_attribute.toString() === variant.remote_id);\n        if (!matchingField) {\n            nonMatchingVariants.push(variant);\n        }\n    });\n\n    return {\n        json: {\n            fields: resultFields,\n            matchingVariants: resultVariants,\n            nonMatchingVariants: nonMatchingVariants\n        }\n    };\n});\n\nreturn result;\n\n"
      },
      "id": "8692d181-5bd4-4f2d-b449-4b47f8467454",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2940,
        1220
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "267e6afe-7a1b-4ce4-9312-8d29725ad279",
              "name": "fields",
              "value": "={{ $json.fields }}",
              "type": "array"
            },
            {
              "id": "7b25ff3d-080b-4e9a-bdb7-605b3e623691",
              "name": "data.variants",
              "value": "={{ $('Execute Workflow Trigger').item.json.data.variants }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "b89ecad9-4c2c-41c9-87a1-66920727558f",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2740,
        1220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "775a315f-6128-4c04-a71b-8a298a997ab7",
              "leftValue": "={{ $('Code2').item.json.activeVariantsCount }}",
              "rightValue": "={{ $json.fields.length }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f7c38ee5-fda0-4dd2-b1dc-177af9c9d1da",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2540,
        1220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "775a315f-6128-4c04-a71b-8a298a997ab7",
              "leftValue": "={{ $json.activeVariantsCount }}",
              "rightValue": "={{ $json.fields.length }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6635fce8-c20e-4e26-8ec4-51bdd8abe821",
      "name": "If10",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3180,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener el primer elemento de los datos de entrada\nconst input = items[0];\n\n// Verificar si 'input' y 'input.json' est치n definidos\nif (input && input.json && input.json.body && input.json.body.combinations) {\n    // Obtener el objeto 'combinations'\n    const combinations = input.json.body.combinations;\n\n    // Inicializar un arreglo para almacenar los resultados\n    const fieldsArray = [];\n\n    // Iterar sobre las propiedades del objeto 'combinations'\n    for (const key in combinations) {\n        if (combinations.hasOwnProperty(key)) {\n            // Acceder a cada combinaci칩n usando su clave\n            const combination = combinations[key];\n            \n            // A침adir la combinaci칩n al arreglo de fields\n            fieldsArray.push({\n                id_product_attribute: combination.id_product_attribute,\n                attributes: combination.attributes,\n                price: combination.price,\n                quantity: combination.quantity,\n                image: combination.images\n              \n            });\n        }\n    }\n\n    // Obtener la lista de variantes\n    const variants = input.json.data && input.json.data.variants ? input.json.data.variants : [];\n\n    // Filtrar las variantes activas\n    const activeVariantsCount = variants.filter(v => v.status.name !== 'Inactive').length;\n\n    // Retornar un solo objeto con el campo 'fields' que contiene el arreglo de combinaciones\n    return [{\n        json: {\n            fields: fieldsArray,\n            activeVariantsCount: activeVariantsCount // A침adir el conteo de variantes activas\n        }\n    }];\n}\n\n// Si no se encuentran combinaciones, retornar los items originales\nreturn items;\n"
      },
      "id": "f46c72af-ca2b-47bc-95b6-e1c7029474af",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2940,
        1000
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fe0eaaf-5b15-4704-96b3-d710d1e6e62d",
              "name": "body.combinations",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.combinations }}",
              "type": "object"
            },
            {
              "id": "c7d7bb08-debf-4c8c-be4b-be304696d5d7",
              "name": "data.variants",
              "value": "={{ $('Execute Workflow Trigger').item.json.data.variants }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "694d9da3-c77c-4d86-9115-c5e588d43f72",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2540,
        1000
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "es-ES,es;q=0.9"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not A(Brand\";v=\"99\", \"Google Chrome\";v=\"121\", \"Chromium\";v=\"121\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pid\": \"{{ $('Execute Workflow Trigger').item.json.data.pid }}\",\n  \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'') }}\",\n  \"body\": \"{{ $('Update name1').item.json.description_short.replace(/['\"]+/g,'').replace(/<[^>]+>/g, '').replace(/\\n/g, ' ') }}\",\n  \"status_pid\" : \"{{ $('Code3').item.json.pid }}\"\n}\n                   \n\n  ",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 0,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "eb6f05e8-caa3-4001-9b71-d7d5e7838494",
      "name": "Update Product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4600,
        -80
      ],
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Execute Workflow Trigger').item.json.data.variants[0].pid }}    ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.price }}\",\n    \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'') }}\",\n    \"remote_id\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.id }}\",\n    \"status_pid\" : \"{{ $('Code3').item.json.pid }}\",\n    \"cost\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.wholesale_price }}\",\n    \"SKU\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.reference ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.reference : 'n/a' }}\",\n    \"barcode\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.upc ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.upc : 'n/a' }}\"\n\n\n  }                      ",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 0,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "a4c6c0fd-4690-442b-913f-bb3445e35306",
      "name": "Update a variant7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4380,
        -80
      ],
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Execute Workflow Trigger').item.json.data.variants[0].pid }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.price }}\",\n    \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'') }}\",\n    \"remote_id\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.id }}\",\n    \"status_pid\" : \"{{ $('Get Status3').item.json.data.status[1].pid }}\",\n    \"cost\": 0\n\n  }                 ",
        "options": {}
      },
      "id": "724eeb96-9b07-4320-9a2f-3a466d2e144f",
      "name": "Draft default variant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3920,
        -260
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Execute Workflow Trigger').item.json.data.variants_count }}",
              "operation": "equal",
              "value2": 1
            },
            {
              "value1": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.id_product }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "677aa5fb-3863-4533-9dfe-3213a0aac3cc",
      "name": "IF equal 1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2540,
        -220
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "es-ES,es;q=0.9"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not A(Brand\";v=\"99\", \"Google Chrome\";v=\"121\", \"Chromium\";v=\"121\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pid\": \"{{ $('Execute Workflow Trigger').item.json.data.pid }}\",\n  \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'') }}\",\n  \"body\": \"{{ $('Update name1').item.json.description_short.replace(/['\"]+/g,'').replace(/<[^>]+>/g, '').replace(/\\n/g, ' ') }}\",\n  \"status_pid\" : \"{{ $('Code3').item.json.pid }}\"\n}\n                   \n\n ",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 0,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "23b9cbd4-f9ce-4049-828f-f53021afe5e3",
      "name": "Update Product1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2980,
        -780
      ],
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Execute Workflow Trigger').item.json.data.title }}",
              "operation": "notEqual",
              "value2": "={{ $('Update name1').item.json.name.replace(/['\"]+/g,'').replace(/<[^>]+>/g, '').replace(/\\n/g, ' ') }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "4251bf71-5167-4a8e-8e6c-97714925b265",
      "name": "Check Product Prestashop1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2740,
        -780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.id_product}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "0cd95d8f-7d63-4312-96b7-465f2d576a5d",
      "name": "Check Body id is present1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2540,
        -780
      ]
    },
    {
      "parameters": {
        "jsCode": "\n\n const elements = items[0]?.json?.data?.status;\n\nconst activeElement = elements.find(element => element.name === \"Active\");\n\nif (activeElement) {\n    return [{ pid: activeElement.pid }];\n} else {\n    return [];\n}\n\n\n\n\n\n\n\n\n\n\n\n\n"
      },
      "id": "7df9573e-1689-437c-9c6f-44531aaea2b4",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        -780
      ]
    },
    {
      "parameters": {
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/status ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "product"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authority",
              "value": "api.dev.gosharpei.com"
            },
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "origin",
              "value": "https://appdev.gosharpei.com"
            },
            {
              "name": "referer",
              "value": "https://appdev.gosharpei.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"104\", \" Not A;Brand\";v=\"99\", \"Google Chrome\";v=\"104\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Linux\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 0,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "798700fa-f9b4-4917-8a95-bbab9a9c2904",
      "name": "Get Status3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1940,
        -780
      ],
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "// Obtener los datos del nodo anterior\nconst data = items[0].json;\n\n// Acceder a la estructura de combinations y variants\nconst prestaShopBody = data.PrestaShop_Body ? data.PrestaShop_Body.PrestaShop_Body : {};\nconst combinations = prestaShopBody.body ? prestaShopBody.body.combinations : {};\nconst variants = data.data ? data.data.variants : [];\n\n// Imprimir datos para ver la estructura real\nconsole.log('Combinations:', JSON.stringify(combinations, null, 2));\nconsole.log('Variants:', JSON.stringify(variants, null, 2));\n\n// Crear un mapa para buscar variantes por remote_id\nconst variantMap = Object.fromEntries(variants.map(v => [v.remote_id, v]));\n\n// Imprimir el mapa de variantes para depuraci칩n\nconsole.log('Variant Map:', JSON.stringify(variantMap, null, 2));\n\n// Ordenar las variantes basadas en el id_product_attribute en combinations\nconst orderedVariants = Object.keys(combinations)\n    .map(id => {\n        // Buscar la variante correspondiente usando el mapa\n        const variant = variantMap[id];\n        console.log(`Buscando variante con id_product_attribute ${id}:`, variant);\n        return variant || null;\n    })\n    .filter(variant => variant !== null);\n\n// Imprimir variantes ordenadas para depuraci칩n\nconsole.log('Ordered Variants:', JSON.stringify(orderedVariants, null, 2));\n\n// Retornar el resultado\nreturn [\n    {\n        json: {\n            orderedVariants\n        }\n    }\n];\n\n\n\n\n\n"
      },
      "id": "25a8ed1e-9915-4185-b937-d7042a8689fd",
      "name": "Ordered variants",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        -780
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40be9f45-d8de-426a-a451-8c79eeca12ce",
              "name": "data.variants",
              "value": "={{ $('Execute Workflow Trigger').item.json.data.variants }}",
              "type": "array"
            },
            {
              "id": "a7e00789-df2a-4e2a-b860-42df4843762a",
              "name": "PrestaShop_Body.PrestaShop_Body.body.combinations",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.combinations }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "b1f11d28-0280-448f-a2be-5592d1dca4c8",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1560,
        -780
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Execute Workflow Trigger').item.json.data.variants[0].pid }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.price }}\",\n    \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'') }}\",\n    \"remote_id\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.id }}\",\n    \"status_pid\" : \"19be3819-df3a-406a-9b89-f2412bf16ac4\",\n    \"cost\": 0\n\n  }                ",
        "options": {}
      },
      "id": "10cd3a72-6e67-4357-8cf2-1e81280f1ecf",
      "name": "Draft default variant3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1760,
        -560
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "es-ES,es;q=0.9"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not A(Brand\";v=\"99\", \"Google Chrome\";v=\"121\", \"Chromium\";v=\"121\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pid\": \"{{ $('Execute Workflow Trigger').item.json.data.pid }}\",\n  \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'') }}\",\n  \"body\": \"{{ $('Update name1').item.json.description_short.replace(/['\"]+/g,'').replace(/<[^>]+>/g, '').replace(/\\n/g, ' ') }}\",\n  \"status_pid\" : \"19be3819-df3a-406a-9b89-f2412bf16ac4\"\n}\n                   \n\n ",
        "options": {}
      },
      "id": "80a01c89-371c-4608-b4e1-974b379b455f",
      "name": "Update Product3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1560,
        -560
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "// Initialize the name field with an empty default value\nlet name = \"\";\nlet description_short = \"\";\n\n// Check if the name field is in object format with an index \"1\"\nif (typeof items[0].json.PrestaShop_Body.PrestaShop_Body.body.name === 'object' && items[0].json.PrestaShop_Body.PrestaShop_Body.body.name.hasOwnProperty(\"1\")) {\n    // Extract the value from index \"1\"\n    name = items[0].json.PrestaShop_Body.PrestaShop_Body.body.name[\"1\"].replace(/[^\\w\\s]/gi, '').replace(/[\"]+/g, '').trim();\n} else if (typeof items[0].json.PrestaShop_Body.PrestaShop_Body.body.name === 'string') {\n    // If it's already in the desired format, assign the value directly\n    name = items[0].json.PrestaShop_Body.PrestaShop_Body.body.name.replace(/[^\\w\\s]/gi, '').replace(/[\"]+/g, '').trim();\n}\n\n// Check if the description_short field is in object format with an index \"1\"\nif (typeof items[0].json.PrestaShop_Body.PrestaShop_Body.body.description_short === 'object' && items[0].json.PrestaShop_Body.PrestaShop_Body.body.description_short.hasOwnProperty(\"1\")) {\n    // Extract the value from index \"1\"\n    description_short = items[0].json.PrestaShop_Body.PrestaShop_Body.body.description_short[\"1\"].replace(/[^\\w\\s]/gi, '').replace(/[\"]+/g, '').trim();\n} else if (typeof items[0].json.PrestaShop_Body.PrestaShop_Body.body.description_short === 'string') {\n    // If it's already in the desired format, assign the value directly\n    description_short = items[0].json.PrestaShop_Body.PrestaShop_Body.body.description_short.replace(/[^\\w\\s]/gi, '').replace(/[\"]+/g, '').trim();\n}\n\n// Return the object with the name field\nreturn {\n    json: {\n        name: name,\n        description_short: description_short\n    }\n};\n\n\n"
      },
      "id": "79f831fc-50e6-40a4-8788-f1e5d5732d0e",
      "name": "Update name1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        -780
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.id_product}}",
              "operation": "isEmpty"
            },
            {
              "value1": "={{ $('Execute Workflow Trigger').item.json.data.variants_count }} ",
              "operation": "largerEqual",
              "value2": 2
            }
          ]
        }
      },
      "id": "5f4207a6-b16b-4a5d-a109-d35a343c01b4",
      "name": "IF larger than ",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2540,
        740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Create Deafault Variant').item.json.data[0].pid }}/images              ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachment",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "b79306d2-b0ce-4ed3-882e-fcdcf57e520a",
      "name": "Add Image1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3200,
        -500
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "url": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.image_url || $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.images[0].url }}",
        "options": {}
      },
      "id": "dd76e01f-de3d-4254-bc08-206569a65569",
      "name": "Upload1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2940,
        -500
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/multiple         ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"selling_price\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.price }}\",\n    \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'').replace(/<[^>]+>/g, '').replace(/\\n/g, ' ')  }}\",\n    \"remote_id\": \"{{ $('Execute Workflow Trigger').item.json.data.remote_id }}\",\n    \"status_pid\" : \"{{ $json.pid }}\",\n    \"cost\": 0\n\n  }\n]       \n                ",
        "options": {}
      },
      "id": "e694ff68-47c7-4912-afdc-39bfc8916204",
      "name": "Create Deafault Variant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2740,
        -500
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "url": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.image_url || $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.images[0].url }}\n",
        "options": {}
      },
      "id": "1152fbc9-76d3-482f-ad14-8b231c533987",
      "name": "Upload2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4600,
        -260
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Execute Workflow Trigger').item.json.data.variants[0].pid }}/images               ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachment",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "704bfc66-43ce-477d-9daa-b8d7d1d9142e",
      "name": "Add Image2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4780,
        -260
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Create Deafault Variant').item.json.data[0].pid }}      ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Create Deafault Variant').item.json.data[0].selling_price }}\",\n    \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'') }}\",\n    \"remote_id\": \"{{ $('Create Deafault Variant').item.json.data[0].remote_id }}\",\n    \"status_pid\" : \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.stock_available > 0 ? $('Get Status3').item.json.data.status[0].pid : $('Get Status3').item.json.data.status[1].pid}}\",\n    \"cost\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.wholesale_price }}\",\n    \"SKU\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.reference ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.reference : 'n/a' }}\",\n    \"barcode\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.upc ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.upc: 'n/a' }}\"\n\n  }     ",
        "options": {}
      },
      "id": "2afbeecb-beb7-4be2-b60b-7ea77992e0bc",
      "name": "Update variant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3400,
        -500
      ],
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Execute Workflow Trigger').item.json.data.variants[0].pid }}       ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.price }}\",\n    \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'') }}\",\n    \"remote_id\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.id }}\",\n    \"status_pid\" : \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.stock_available > 0 ? 'f1554bbc-3159-4044-8974-1da26a573ea3' : '8ccef96e-5eb3-4b66-bd16-86fec78ab575'}}\",\n    \"cost\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.wholesale_price }}\",\n    \"SKU\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.reference ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.reference : 'n/a' }}\",\n    \"barcode\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.upc ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.upc : 'n/a' }}\"\n\n  }          ",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 0,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "6ed7600c-5381-4c29-a26b-3a867ba1a55a",
      "name": "Update variant1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4980,
        -260
      ],
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a576428b-ad16-4417-aa93-9a39b1976c21",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.data.variants[0].image_url }}",
              "rightValue": "=https://assets.gosharpei.com/placeholders/empty_image.svg",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a9056a82-4497-4ca7-b609-161c83c22b32",
      "name": "If no image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4360,
        -260
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "es-ES,es;q=0.9"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not A(Brand\";v=\"99\", \"Google Chrome\";v=\"121\", \"Chromium\";v=\"121\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pid\": \"{{ $('Execute Workflow Trigger').item.json.data.pid }}\",\n  \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'') }}\",\n  \"body\": \"{{ $('Update name1').item.json.description_short.replace(/['\"]+/g,'').replace(/<[^>]+>/g, '').replace(/\\n/g, ' ') }}\",\n  \"status_pid\" : \"{{ $('Get Status3').item.json.data.status[1].pid }}\"\n}\n                   \n\n ",
        "options": {}
      },
      "id": "c88821f9-28cf-41cb-ba70-fe05ce89bcc3",
      "name": "Draft Product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4120,
        -260
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Create Deafault Variant').item.json.data[0].pid }}  ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "c8be8dc8-20fe-4ab3-a755-6aa3bc4c4ea4",
      "name": "validate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3640,
        -500
      ]
    },
    {
      "parameters": {},
      "id": "39c1b12f-3d3a-44d7-9a17-69e4f606bfba",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2940,
        840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "775a315f-6128-4c04-a71b-8a298a997ab7",
              "leftValue": "={{ $json.body.combinations === null ? 'empty' : $json.body.combinations }}\n\n\n",
              "rightValue": "=empty",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "655f155f-9a01-4464-9cf9-e59dbc2c90f5",
      "name": "If11",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2740,
        1000
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "new_combinations",
        "options": {}
      },
      "id": "63c6259a-dffd-4d80-b932-5dfaabadb0a9",
      "name": "Split Out2",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3420,
        1480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "231188d8-393e-4151-a132-424d2184c572",
              "name": "index",
              "value": "={{$runIndex}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "edff6b31-9323-42e8-a12d-3dcfa9520d09",
      "name": "Edit Fields6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3820,
        1480
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0ef262c7-69a0-4000-be3e-46e5fa33f40d",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3620,
        1480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Create combination').item.json.data[0].pid }}/images            ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachment",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "2e43e39e-a81a-408f-8701-a3cfa0594d83",
      "name": "Add Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4460,
        1480
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "id": "f67b3905-15d8-4bbd-a7d6-44a68ee2b571",
      "name": "List Variants",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        1480
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = items[0];\n\n// Verificar si 'input' y 'input.json' est치n definidos\nif (input && input.json) {\n    // Obtener los datos de 'fields' y 'products_variants'\n    const fields = input.json.fields || [];\n    const productsVariants = input.json.data.products_variants || [];\n\n    // Crear un conjunto de todos los remote_id en products_variants\n    const remoteIds = new Set(productsVariants.map(variant => variant.remote_id));\n\n    // Crear un array para almacenar todas las combinaciones no coincidentes\n    const nonMatchingCombinations = [];\n\n    // Recorrer todos los fields\n    fields.forEach(field => {\n        // Verificar si 'id_product_attribute' no coincide con ning칰n 'remote_id'\n        const idMatch = !remoteIds.has(field.id_product_attribute.toString());\n        \n        // Si no coincide, agregar al array de no coincidentes\n        if (idMatch) {\n            nonMatchingCombinations.push({\n                id_product_attribute: field.id_product_attribute,\n                attributes: field.attributes,\n                price: field.price,\n                quantity: field.quantity,\n                image: field.image || [],\n            });\n        }\n    });\n\n    // Devolver todas las combinaciones no coincidentes\n    if (nonMatchingCombinations.length > 0) {\n        return [{\n            json: {\n                new_combinations: nonMatchingCombinations\n            }\n        }];\n    }\n}\n\n// Si no se encuentran coincidencias, retornar los items originales\nreturn items;\n\n\n"
      },
      "id": "bcfff065-9e80-4bf9-9ae6-65aff909433e",
      "name": "Convert Object",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        1480
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Loop Over Items1').item.json.pid }}\n ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Loop Over Items1').item.json.selling_price }}\",\n    \"title\": \"{{ $('Loop Over Items1').item.json.title.replace(/['\"]+/g, '') }}\",\n    \"remote_id\": \"{{ $('Loop Over Items1').item.json.remote_id }}\",\n    \"status_pid\" : \"d486da45-af0e-45e5-92ab-319a7fe7e782\",\n    \"cost\": 0\n\n  }                   ",
        "options": {}
      },
      "id": "0726219a-76b2-4073-9682-d31668c205f4",
      "name": "Archive  variant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4040,
        1220
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Execute Workflow Trigger').item.json.data.variants_count }}",
              "operation": "equal",
              "value2": 1
            },
            {
              "value1": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.id_product }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "26c84731-d3fd-4465-825f-88b8bb8795b9",
      "name": "IF equal 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2540,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d8c6249-0678-4bfa-9c6e-72c1fa876afe",
              "name": "PrestaShop_Body.PrestaShop_Body.body.quantity",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.quantity }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "eb0fe685-e2e2-4596-be71-ace82d3e0582",
      "name": "Edit Fields7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2760,
        460
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tpg18UA9Zy_g1VWqzSwu1Gob5g-2g0d1TDJqOWKVncE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Quantity Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpg18UA9Zy_g1VWqzSwu1Gob5g-2g0d1TDJqOWKVncE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Stock": "={{ $json.PrestaShop_Body.PrestaShop_Body.body.quantity }}"
          },
          "matchingColumns": [
            "Stock"
          ],
          "schema": [
            {
              "id": "Stock",
              "displayName": "Stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Stock Available",
              "displayName": "Stock Available",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "e7da97ed-1343-4a02-afc9-7071c7acc35a",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        3160,
        460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OT8wMWyUPUaPSE6u",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Execute Workflow Trigger').item.json.data.variants[0].pid }}    ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.price }}\",\n    \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'') }}\",\n    \"remote_id\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.id }}\",\n    \"status_pid\" : \"{{ $('Code3').item.json.pid }}\",\n    \"cost\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.wholesale_price }}\",\n    \"SKU\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.reference ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.reference : 'n/a' }}\",\n    \"barcode\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.upc ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.upc : 'n/a' }}\"\n\n\n  }                      ",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 0,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "607cfc1b-b079-4554-b5f5-5591465d0c50",
      "name": "Update a variant9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3220,
        -780
      ],
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Execute Workflow Trigger').item.json.data.variants[0].pid }}       ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.price }}\",\n    \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'') }}\",\n    \"remote_id\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.id }}\",\n    \"status_pid\" : \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.stock_available > 0 ? 'f1554bbc-3159-4044-8974-1da26a573ea3' : '8ccef96e-5eb3-4b66-bd16-86fec78ab575'}}\",\n    \"cost\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.wholesale_price }}\",\n    \"SKU\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.reference ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.reference : 'n/a' }}\",\n    \"barcode\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.upc ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.upc : 'n/a' }}\"\n\n  }          ",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 0,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "ff43949d-11a1-4a27-912f-933f903afc30",
      "name": "Update variant2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4760,
        180
      ],
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Execute Workflow Trigger').item.json.data.variants[0].pid }}/images               ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachment",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "88789d7c-40ce-4f2d-ae10-a811e574443b",
      "name": "Add Image3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4560,
        180
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "url": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.image_url || $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.images[0].url }}\n",
        "options": {}
      },
      "id": "972accce-6e96-4062-b291-ecf51ab3140e",
      "name": "Upload3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4380,
        180
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a576428b-ad16-4417-aa93-9a39b1976c21",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.data.variants[0].image_url }}",
              "rightValue": "=https://assets.gosharpei.com/placeholders/empty_image.svg",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0e733000-894b-4bee-94a1-6ebbcd62f192",
      "name": "If no image1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4140,
        180
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "es-ES,es;q=0.9"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not A(Brand\";v=\"99\", \"Google Chrome\";v=\"121\", \"Chromium\";v=\"121\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pid\": \"{{ $('Execute Workflow Trigger').item.json.data.pid }}\",\n  \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'') }}\",\n  \"body\": \"{{ $('Update name1').item.json.description_short.replace(/['\"]+/g,'').replace(/<[^>]+>/g, '').replace(/\\n/g, ' ') }}\",\n  \"status_pid\" : \"{{ $('Code3').item.json.pid }}\"\n}\n                   \n\n  ",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 0,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "f6772a81-b93d-4476-b92c-46ca7dddfd65",
      "name": "Update Product2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4380,
        360
      ],
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Execute Workflow Trigger').item.json.data.variants[0].pid }}    ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.price }}\",\n    \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'') }}\",\n    \"remote_id\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.id }}\",\n    \"status_pid\" : \"{{ $('Code3').item.json.pid }}\",\n    \"cost\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.wholesale_price }}\",\n    \"SKU\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.reference ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.reference : 'n/a' }}\",\n    \"barcode\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.upc ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.upc : 'n/a' }}\"\n\n\n  }                      ",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 0,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "a86ef827-07a9-4f14-a1e8-8207ca5e76a3",
      "name": "Update a variant8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4160,
        360
      ],
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "es-ES,es;q=0.9"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not A(Brand\";v=\"99\", \"Google Chrome\";v=\"121\", \"Chromium\";v=\"121\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pid\": \"{{ $('Execute Workflow Trigger').item.json.data.pid }}\",\n  \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'') }}\",\n  \"body\": \"{{ $('Update name1').item.json.description_short.replace(/['\"]+/g,'').replace(/<[^>]+>/g, '').replace(/\\n/g, ' ') }}\",\n  \"status_pid\" : \"{{ $('Get Status3').item.json.data.status[1].pid }}\"\n}\n                   \n\n ",
        "options": {}
      },
      "id": "cdf6f839-3f83-4a98-b45f-6f24646b6fcb",
      "name": "Draft Product1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3900,
        180
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Execute Workflow Trigger').item.json.data.variants[0].pid }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.price }}\",\n    \"title\": \"{{ $('Update name1').item.json.name.replace(/['\"]+/g,'') }}\",\n    \"remote_id\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.id }}\",\n    \"status_pid\" : \"{{ $('Get Status3').item.json.data.status[1].pid }}\",\n    \"cost\": 0\n\n  }                 ",
        "options": {}
      },
      "id": "ce13fd01-704e-4512-87fd-48b564c720bc",
      "name": "Draft default variant1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3700,
        180
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {},
      "id": "29315934-ca58-4cbc-8937-ccbb7d545cb0",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        940,
        -780
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tpg18UA9Zy_g1VWqzSwu1Gob5g-2g0d1TDJqOWKVncE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Quantity Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpg18UA9Zy_g1VWqzSwu1Gob5g-2g0d1TDJqOWKVncE/edit#gid=0"
        },
        "options": {}
      },
      "id": "86eb143a-0925-4560-8e1b-30655048a7cc",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2700,
        120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OT8wMWyUPUaPSE6u",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f92491b6-52f9-435d-9778-e5af801efbcc",
              "leftValue": "={{ $('If5').item.json.Stock }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d37e6baf-ce9c-4241-a396-e1a8dfb58bd6",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3700,
        -220
      ]
    },
    {
      "parameters": {
        "jsCode": "// Devolver todo el arreglo tal como est치\nreturn items[items.length - 1] ;\n\n"
      },
      "id": "4875e763-d4bf-4df9-aeb3-37a9ba3a42b9",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3240,
        -220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b89c8b08-1eec-4197-b4a5-9dc9b1eaf189",
              "leftValue": "={{ $('If5').item.json.Stock }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "df63c774-1565-452c-8411-8eafb1509a88",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3980,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fbb16256-f922-4672-b077-1d03d6eb0453",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.stock_available}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ec09d800-15fe-4088-b6ac-3570fd0989b6",
      "name": "If6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3440,
        240
      ]
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1tpg18UA9Zy_g1VWqzSwu1Gob5g-2g0d1TDJqOWKVncE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Quantity Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpg18UA9Zy_g1VWqzSwu1Gob5g-2g0d1TDJqOWKVncE/edit#gid=0"
        },
        "clear": "specificRange",
        "range": "A2"
      },
      "id": "66e26102-c98b-4de4-b174-85ad66c16edf",
      "name": "Google Sheets5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2900,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OT8wMWyUPUaPSE6u",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cb916d3d-6a5e-4690-889a-99f9eb40ca79",
              "leftValue": "={{ Number($json.Stock) }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "952fe74e-adf8-40cb-a5ff-976e221a1ec7",
      "name": "If5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3440,
        -220
      ]
    },
    {
      "parameters": {},
      "id": "86199c7d-db9c-498a-a682-49f8ae9b4e15",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3400,
        460
      ],
      "webhookId": "57969218-41d4-4f8c-8628-e480f12686ca"
    },
    {
      "parameters": {},
      "id": "41491e83-0817-426a-ba20-cdab835c8846",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2800,
        -220
      ],
      "webhookId": "57969218-41d4-4f8c-8628-e480f12686ca"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4b835e2c-3b6d-417c-b1c8-a6748efd9028",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.data.variants[0].selling_price }}",
              "rightValue": "={{ parseFloat($('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.price).toFixed(2) }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "4958fe9f-7a7f-4dab-b1fc-320ee438d6fc",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.data.variants[0].title }}",
              "rightValue": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.name[\"1\"] }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "c2562d08-dcb9-47bf-b13c-6d0c21c1917b",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.data.variants[0].SKU }}",
              "rightValue": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.reference }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "7b221b41-4a1d-46a5-95f6-bf9ff1f2f0f3",
      "name": "If7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3660,
        -20
      ]
    },
    {
      "parameters": {
        "workflowId": "R6tILcIQGKOZ0HO4",
        "options": {}
      },
      "id": "9ac62ded-dc88-4ae5-838a-5c3b7a416223",
      "name": "Execute Workflow1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3880,
        -660
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c3eaedf-a56c-4492-b804-4510bb5c259c",
              "name": "=pid",
              "value": "={{ $('Execute Workflow Trigger').item.json.data.pid }}",
              "type": "string"
            },
            {
              "id": "80cb8a27-eff8-40e6-846c-f76a01831570",
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}",
              "type": "string"
            },
            {
              "id": "b721d509-46f9-4644-9179-cb6cde139ae6",
              "name": "env",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "eaa9c853-cbb3-4f6f-b653-a7e649628120",
      "name": "Edit Fields8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3640,
        -660
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "f9c46c1f-ac75-4cd7-851e-f1750f2c7bb5",
                    "leftValue": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.active }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ Array.isArray($('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.combinations) }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "0435ace1-6f8a-4893-b82f-d215459696e4",
                    "leftValue": "={{ !Array.isArray($('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.combinations) && typeof $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.combinations === 'object' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 1
        }
      },
      "id": "ad46a65e-08b7-4b6b-88b2-264953122e49",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1360,
        -780
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "Stock",
        "fields": "Stock",
        "options": {}
      },
      "id": "c6d57098-a5b6-4e5c-9b56-28f0092424e7",
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        3240,
        660
      ],
      "credentials": {
        "mongoDb": {
          "id": "RDx3KTCIp6yJtnXi",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d8c6249-0678-4bfa-9c6e-72c1fa876afe",
              "name": "Stock",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.quantity }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "b2f62d86-6077-49f7-86e5-aaff0404b66d",
      "name": "Edit Fields9",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        660
      ]
    },
    {
      "parameters": {
        "collection": "Stock",
        "options": {}
      },
      "id": "c5de1a61-9595-41f7-846b-f005ccaa4aed",
      "name": "MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        3040,
        -220
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "RDx3KTCIp6yJtnXi",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "Stock"
      },
      "id": "ffc3b913-5c96-4b59-9e0a-7bdb2787bb75",
      "name": "MongoDB2",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        3120,
        180
      ],
      "credentials": {
        "mongoDb": {
          "id": "RDx3KTCIp6yJtnXi",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.id_product}}",
              "operation": "isEmpty"
            },
            {
              "value1": "={{ $('Execute Workflow Trigger').item.json.data.variants_count }}",
              "operation": "equal"
            }
          ]
        }
      },
      "id": "5dc5798c-1410-4c43-a96c-cc1c0d4c7aa7",
      "name": "IF equal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2540,
        -500
      ]
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "status": 200,
          "message": "success",
          "data": {
            "pid": "00a69700-7e2a-4fe3-9b7a-bb8b19bde8ce",
            "title": "Test Status",
            "body": null,
            "vendor": null,
            "updated_at": "2024-11-21T16:27:27.000000Z",
            "created_at": "2024-11-20T17:39:17.000000Z",
            "remote_id": "289",
            "variants_count": 1,
            "image_url": "https://assets.dev.gosharpei.com/products/2769/1732124358_289.jpg",
            "category": null,
            "subcategory": null,
            "tags": [
              {
                "pid": "84484947-38f2-408f-952d-60698d7ce44d",
                "value": "Default"
              }
            ],
            "status": {
              "pid": "20ba684b-2d5b-46de-bfc3-07aa6d40caaa",
              "name": "Active"
            },
            "variants": [
              {
                "pid": "add60182-a3a8-4ecd-9b9c-170f29f5e500",
                "title": "Test Status",
                "SKU": "123",
                "barcode": "456",
                "cost": "100.00",
                "selling_price": "1000.00",
                "remote_id": "289",
                "image_url": "https://assets.dev.gosharpei.com/products/2769/1732124358_289.jpg",
                "images": [
                  {
                    "pid": "bcc4dd37-c15a-494b-b125-66ed1dec573c",
                    "url": "https://assets.dev.gosharpei.com/products/2769/1732124358_289.jpg"
                  }
                ],
                "status": {
                  "pid": "20ba684b-2d5b-46de-bfc3-07aa6d40caaa",
                  "name": "Active"
                }
              }
            ],
            "options": []
          },
          "PrestaShop_Body": {
            "PrestaShop_Body": {
              "headers": {
                "x-forwarded-for": "44.206.89.54",
                "x-forwarded-proto": "https",
                "x-forwarded-port": "443",
                "host": "automation.prod.gosharpei.com",
                "x-amzn-trace-id": "Root=1-673f5f65-4ddc781f2b1be77a1df79466",
                "content-length": "56",
                "accept": "*/*",
                "content-type": "application/json",
                "authorization": "$2y$10$UzfjIeYjEdv9S2zvCt15KeVvc729GtDEIhmiieOKsTomLaKD2Ig7S"
              },
              "params": {},
              "query": {},
              "body": {
                "id_product": 289,
                "id_product_attribute": 0,
                "quantity": 20
              },
              "webhookUrl": "http://https://automation.prod.gosharpei.com:5678/webhook/dev-prestashop",
              "executionMode": "production"
            },
            "env": "dev",
            "id": 289,
            "webhook": "Prestashop-Dev"
          }
        }
      }
    ]
  },
  "connections": {
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update combination1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload": {
      "main": [
        [
          {
            "node": "Add Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create combination": {
      "main": [
        [
          {
            "node": "Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Convert Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "List Variants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Archive  variant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update a variant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Update a variant1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set6": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a variant7": {
      "main": [
        [
          {
            "node": "Update Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft default variant": {
      "main": [
        [
          {
            "node": "Draft Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF equal 1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF larger than ",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF equal 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Body id is present1": {
      "main": [
        [
          {
            "node": "Check Product Prestashop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Check Body id is present1",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF equal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status3": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ordered variants": {
      "main": [
        [
          {
            "node": "Get Status3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Ordered variants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Product3": {
      "main": [
        [
          {
            "node": "Draft default variant3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update name1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF larger than ": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Image1": {
      "main": [
        [
          {
            "node": "Update variant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload1": {
      "main": [
        [
          {
            "node": "Add Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Deafault Variant": {
      "main": [
        [
          {
            "node": "Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload2": {
      "main": [
        [
          {
            "node": "Add Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Image2": {
      "main": [
        [
          {
            "node": "Update variant1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Product": {
      "main": [
        [
          {
            "node": "If no image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If no image": {
      "main": [
        [
          {
            "node": "Upload2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Product": {
      "main": [
        [
          {
            "node": "If no image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update variant": {
      "main": [
        [
          {
            "node": "validate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Create combination",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Image": {
      "main": [
        [
          {
            "node": "Update combination1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Variants": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Object": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF equal 2": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Image3": {
      "main": [
        [
          {
            "node": "Update variant2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload3": {
      "main": [
        [
          {
            "node": "Add Image3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If no image1": {
      "main": [
        [
          {
            "node": "Upload3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Product2": {
      "main": [
        [
          {
            "node": "If no image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a variant8": {
      "main": [
        [
          {
            "node": "Update Product2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Product1": {
      "main": [
        [
          {
            "node": "If no image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft default variant1": {
      "main": [
        [
          {
            "node": "Draft Product1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Update name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Draft default variant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Update a variant7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Draft default variant1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a variant8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Product Prestashop1": {
      "main": [
        [
          {
            "node": "Update Product1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update Product3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Status3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "MongoDB2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF equal": {
      "main": [
        [
          {
            "node": "Create Deafault Variant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF equal 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Pacific/Tahiti",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "AdQIUhqaKxjyDzka",
    "saveExecutionProgress": true,
    "executionTimeout": 600
  },
  "versionId": "23cbd0ce-d042-46ec-ab63-d784a1eef0fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c0beacef8877bbf2416eb00f2b5dc96354e26dd1df5517320459b1236860f8c"
  },
  "id": "SjB76PkH2zf2sYxX",
  "tags": [
    {
      "createdAt": "2024-03-26T20:19:24.188Z",
      "updatedAt": "2024-04-12T13:20:55.855Z",
      "id": "KZsyDULXgEqSqmXA",
      "name": "Prestashop"
    },
    {
      "createdAt": "2024-05-09T15:12:09.941Z",
      "updatedAt": "2024-05-09T15:12:09.941Z",
      "id": "SjhSJInUwTCnJDeF",
      "name": "Prod"
    }
  ]
}