workflows/WooCommerce/Create_Woocommerce_Variants.json
{
    "meta": {
      "instanceId": "c4f4146b469720be37fccfa9decbb4bd3e7ee280c05e7522ace5122567557b3a"
    },
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.dev.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.product_pid }}/variants/{{ $('Create Multiple Variants(1)').item.json.data[0].pid }}/images      ",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "application/json, text/plain, */*"
              },
              {
                "name": "accept-language",
                "value": "es-ES,es;q=0.9"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5YjkxY2NjZS1mMjg3LTQ2YjUtOWYwNC0zYWIxZmYyMjhjN2UiLCJqdGkiOiI1OWM3NDM1MjllZGIzODlmNTJkYzMzZDQ3ZTIzNjJiYzZkM2U1M2IwZWM5NWU2Njk3ZmMwYTUyNTUyOTNiNTA4NGQ0ZThkNWQ5MDE4NGM1NSIsImlhdCI6MTcxNDQ1MTIyNS44MjY2NzgsIm5iZiI6MTcxNDQ1MTIyNS44MjY2OCwiZXhwIjoxNzQ1OTg3MjI1LjgxODUyOSwic3ViIjoiMjE3Iiwic2NvcGVzIjpbXX0.NhGLzbh5QUQSxpHouK-AmX5zfdwfvGvKY9A_z7ouUAOyb9J7B7GsMvYlheycey0jrJFoWADUoh0ycjk_pbx-g5e1Bm6KAiD26-FSxoS4zIegtW1X7ZYrnmdo9DxDo1wa5pLzOoDsR5IoqhexgVxvTtyyncQLm31LzjCN9sawvSDaIdHuTi_AiDN_5EB9dp7P7GzOCvRv9Ytj8JxN42tO7JmPgk8_MHSlTDjhI23y1XDdOMRIX_xm_R2NUD8YUKxbe8G1GIi5-IQfiN2uBKKfP0WnyMLcCMPzN-fmE2IWB5JdBO1JzVv-KO9kNQ7-imI3W3iOPRB9MrFAvQLu_SOHsT1uiU8zgxUAxxdH-uuo7vJXKJ6OVLA8Nii9zVrg87LrEgMlkgxfy-sJ-6N2tNrUMkVyn89OT6eF1_DXbiZy1LI8KNuH6ksU6XkgSfDc7-HSlje9SbJJ3mrgu1s4oyNBP6HN0pPCqgRDnNvnwXFZkba--rIX7o3zVz7R9eK9GuIvT1det3f9ppJdCf9qzmt-FPrsgR0aAqiS13MxKODCHl9_LK0ijDh6oHgPP9igj89sWJTy_XuzPLfPgTSnl_Ot_lf7fFmDVtfaxR_U5RLOTBHdSUjQSG9zXIvE_wYjhHGOqQ-D48YRWFKLENQk09BKrQjNg9vpfJB9EH2e4Z47hZ4"
              },
              {
                "name": "origin",
                "value": "https://app.dev.gosharpei.com"
              },
              {
                "name": "referer",
                "value": "https://app.dev.gosharpei.com/"
              },
              {
                "name": "sec-ch-ua",
                "value": "\"Google Chrome\";v=\"123\", \"Not:A-Brand\";v=\"8\", \"Chromium\";v=\"123\""
              },
              {
                "name": "sec-ch-ua-mobile",
                "value": "?0"
              },
              {
                "name": "sec-ch-ua-platform",
                "value": "\"Windows\""
              },
              {
                "name": "sec-fetch-dest",
                "value": "empty"
              },
              {
                "name": "sec-fetch-mode",
                "value": "cors"
              },
              {
                "name": "sec-fetch-site",
                "value": "same-site"
              },
              {
                "name": "user-agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "attachment",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {}
        },
        "id": "04f4d62e-87ec-4660-9b98-01fbf541e9a3",
        "name": "Add an image to a product variant",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1040,
          420
        ]
      },
      {
        "parameters": {
          "url": "={{ $('WooCommerce').item.json.images[0].src }}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {}
        },
        "id": "938cbe5e-f06e-418e-8c7d-ddb84da83ca1",
        "name": "Upload3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          880,
          420
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://api.dev.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.product_pid }}/variants/{{ $json.data[0].pid }}  ",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5YjkxY2NjZS1mMjg3LTQ2YjUtOWYwNC0zYWIxZmYyMjhjN2UiLCJqdGkiOiI1OWM3NDM1MjllZGIzODlmNTJkYzMzZDQ3ZTIzNjJiYzZkM2U1M2IwZWM5NWU2Njk3ZmMwYTUyNTUyOTNiNTA4NGQ0ZThkNWQ5MDE4NGM1NSIsImlhdCI6MTcxNDQ1MTIyNS44MjY2NzgsIm5iZiI6MTcxNDQ1MTIyNS44MjY2OCwiZXhwIjoxNzQ1OTg3MjI1LjgxODUyOSwic3ViIjoiMjE3Iiwic2NvcGVzIjpbXX0.NhGLzbh5QUQSxpHouK-AmX5zfdwfvGvKY9A_z7ouUAOyb9J7B7GsMvYlheycey0jrJFoWADUoh0ycjk_pbx-g5e1Bm6KAiD26-FSxoS4zIegtW1X7ZYrnmdo9DxDo1wa5pLzOoDsR5IoqhexgVxvTtyyncQLm31LzjCN9sawvSDaIdHuTi_AiDN_5EB9dp7P7GzOCvRv9Ytj8JxN42tO7JmPgk8_MHSlTDjhI23y1XDdOMRIX_xm_R2NUD8YUKxbe8G1GIi5-IQfiN2uBKKfP0WnyMLcCMPzN-fmE2IWB5JdBO1JzVv-KO9kNQ7-imI3W3iOPRB9MrFAvQLu_SOHsT1uiU8zgxUAxxdH-uuo7vJXKJ6OVLA8Nii9zVrg87LrEgMlkgxfy-sJ-6N2tNrUMkVyn89OT6eF1_DXbiZy1LI8KNuH6ksU6XkgSfDc7-HSlje9SbJJ3mrgu1s4oyNBP6HN0pPCqgRDnNvnwXFZkba--rIX7o3zVz7R9eK9GuIvT1det3f9ppJdCf9qzmt-FPrsgR0aAqiS13MxKODCHl9_LK0ijDh6oHgPP9igj89sWJTy_XuzPLfPgTSnl_Ot_lf7fFmDVtfaxR_U5RLOTBHdSUjQSG9zXIvE_wYjhHGOqQ-D48YRWFKLENQk09BKrQjNg9vpfJB9EH2e4Z47hZ4"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"selling_price\": \"{{ $('WooCommerce').item.json.price }}\",\n    \"title\": \"{{ $('WooCommerce').item.json.name }}\",\n    \"remote_id\": \"{{ $('WooCommerce').item.json.id }}\",\n    \"status_pid\" : \"{{ $('Get Status').item.json.data.status[6].pid }}\",\n    \"cost\": 0,\n    \"SKU\" : \"{{ $('WooCommerce').item.json.sku }}\"\n  }        ",
          "options": {}
        },
        "id": "77bf1629-54f3-45d1-9ccf-f2392eef607e",
        "name": "Update a variant",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          700,
          420
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.dev.gosharpei.com/api/products/{{ $json.pid }}/variants/multiple  ",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5YjkxY2NjZS1mMjg3LTQ2YjUtOWYwNC0zYWIxZmYyMjhjN2UiLCJqdGkiOiI1OWM3NDM1MjllZGIzODlmNTJkYzMzZDQ3ZTIzNjJiYzZkM2U1M2IwZWM5NWU2Njk3ZmMwYTUyNTUyOTNiNTA4NGQ0ZThkNWQ5MDE4NGM1NSIsImlhdCI6MTcxNDQ1MTIyNS44MjY2NzgsIm5iZiI6MTcxNDQ1MTIyNS44MjY2OCwiZXhwIjoxNzQ1OTg3MjI1LjgxODUyOSwic3ViIjoiMjE3Iiwic2NvcGVzIjpbXX0.NhGLzbh5QUQSxpHouK-AmX5zfdwfvGvKY9A_z7ouUAOyb9J7B7GsMvYlheycey0jrJFoWADUoh0ycjk_pbx-g5e1Bm6KAiD26-FSxoS4zIegtW1X7ZYrnmdo9DxDo1wa5pLzOoDsR5IoqhexgVxvTtyyncQLm31LzjCN9sawvSDaIdHuTi_AiDN_5EB9dp7P7GzOCvRv9Ytj8JxN42tO7JmPgk8_MHSlTDjhI23y1XDdOMRIX_xm_R2NUD8YUKxbe8G1GIi5-IQfiN2uBKKfP0WnyMLcCMPzN-fmE2IWB5JdBO1JzVv-KO9kNQ7-imI3W3iOPRB9MrFAvQLu_SOHsT1uiU8zgxUAxxdH-uuo7vJXKJ6OVLA8Nii9zVrg87LrEgMlkgxfy-sJ-6N2tNrUMkVyn89OT6eF1_DXbiZy1LI8KNuH6ksU6XkgSfDc7-HSlje9SbJJ3mrgu1s4oyNBP6HN0pPCqgRDnNvnwXFZkba--rIX7o3zVz7R9eK9GuIvT1det3f9ppJdCf9qzmt-FPrsgR0aAqiS13MxKODCHl9_LK0ijDh6oHgPP9igj89sWJTy_XuzPLfPgTSnl_Ot_lf7fFmDVtfaxR_U5RLOTBHdSUjQSG9zXIvE_wYjhHGOqQ-D48YRWFKLENQk09BKrQjNg9vpfJB9EH2e4Z47hZ4"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "=[\n  {\n    \"selling_price\": \"{{ $('WooCommerce').item.json.price}}\",\n    \"title\": \"{{ $('WooCommerce').item.json.name }}\",\n    \"SKU\": \"{{ $('WooCommerce').item.json.sku }}\",\n    \"remote_id\": \"{{ $('WooCommerce').item.json.id }}\",\n    \"barcode\": \"\",\n    \"cost\" : \"0\"\n\n  }  \n] ",
          "options": {}
        },
        "id": "1fbc21e3-fadc-4379-a7cd-e9706ecdd883",
        "name": "Create Multiple Variants(1)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          540,
          420
        ]
      },
      {
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              {
                "name": "pid",
                "value": "={{ $('Execute Workflow Trigger').item.json.product_pid}}"
              }
            ]
          },
          "options": {}
        },
        "id": "72cd2daf-66e4-4f01-bc62-7d87492e6eb3",
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [
          380,
          420
        ]
      },
      {
        "parameters": {
          "url": "https://api.dev.gosharpei.com/api/status",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {}
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "authority",
                "value": "api.dev.gosharpei.com"
              },
              {
                "name": "accept",
                "value": "application/json, text/plain, */*"
              },
              {
                "name": "accept-language",
                "value": "en-US,en;q=0.9"
              },
              {
                "name": "origin",
                "value": "https://appdev.gosharpei.com"
              },
              {
                "name": "referer",
                "value": "https://appdev.gosharpei.com/"
              },
              {
                "name": "sec-ch-ua",
                "value": "\"Chromium\";v=\"104\", \" Not A;Brand\";v=\"99\", \"Google Chrome\";v=\"104\""
              },
              {
                "name": "sec-ch-ua-mobile",
                "value": "?0"
              },
              {
                "name": "sec-ch-ua-platform",
                "value": "\"Linux\""
              },
              {
                "name": "sec-fetch-dest",
                "value": "empty"
              },
              {
                "name": "sec-fetch-mode",
                "value": "cors"
              },
              {
                "name": "sec-fetch-site",
                "value": "same-site"
              },
              {
                "name": "user-agent",
                "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36"
              }
            ]
          },
          "options": {}
        },
        "id": "21382ca8-719a-4816-8c74-bddf17164849",
        "name": "Get Status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          200,
          420
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "productId": "={{ $json[\"WooCommerce_Body.WooCommerce_Body.body.variations\"] }}"
        },
        "id": "672d4f0d-1b69-4d26-b538-dfaeb7ca349e",
        "name": "WooCommerce",
        "type": "n8n-nodes-base.wooCommerce",
        "typeVersion": 1,
        "position": [
          880,
          200
        ],
        "credentials": {
          "wooCommerceApi": {
            "id": "84vYNc3IXc74a7NZ",
            "name": "WooCommerce account 5"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "aa36eb1b-c7a0-4935-836c-2860cc410456",
        "name": "Set1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [
          700,
          200
        ]
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "id": "0fa0d4ad-eafb-478c-906a-c9ef639aec6e",
        "name": "Split In Batches",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 1,
        "position": [
          540,
          200
        ]
      },
      {
        "parameters": {
          "fieldToSplitOut": "WooCommerce_Body.WooCommerce_Body.body.variations",
          "options": {}
        },
        "id": "2479be84-e451-47b0-9699-267f14020b04",
        "name": "Item Lists1",
        "type": "n8n-nodes-base.itemLists",
        "typeVersion": 3,
        "position": [
          380,
          200
        ]
      },
      {
        "parameters": {},
        "id": "98bbd8ba-700d-4d9f-99a7-499908fd7053",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          200,
          200
        ]
      }
    ],
    "connections": {
      "Upload3": {
        "main": [
          [
            {
              "node": "Add an image to a product variant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a variant": {
        "main": [
          [
            {
              "node": "Upload3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Multiple Variants(1)": {
        "main": [
          [
            {
              "node": "Update a variant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set": {
        "main": [
          [
            {
              "node": "Create Multiple Variants(1)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Status": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "WooCommerce": {
        "main": [
          [
            {
              "node": "Get Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set1": {
        "main": [
          [
            {
              "node": "Split In Batches",
              "type": "main",
              "index": 0
            },
            {
              "node": "WooCommerce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split In Batches": {
        "main": [
          [
            {
              "node": "Set1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Item Lists1": {
        "main": [
          [
            {
              "node": "Split In Batches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Item Lists1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }