workflows/WooCommerce/Update_Woocommerce_Product.json
{
  "meta": {
    "instanceId": "0c0beacef8877bbf2416eb00f2b5dc96354e26dd1df5517320459b1236860f8c"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "a70beea2-cb56-4353-985c-13f9ced85985",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -40,
        1120
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}  ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.query.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.name }}\",\n  \"body\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.description.replace(/['\"]+/g,'').replace(/<[^>]+>/g, '').replace(/\\n/g, ' ').trim()}}\",\n  \"status_pid\" : \"{{ $json.data.status[0].pid }}\"\n}\n\n          ",
        "options": {}
      },
      "id": "82bf58ca-964c-45a5-b105-f955625e4ce8",
      "name": "Update Product1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1420,
        1120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Execute Workflow Trigger').item.json.data.title }}",
              "operation": "notEqual",
              "value2": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.name }}"
            },
            {
              "value1": "={{ $('Execute Workflow Trigger').item.json.data.body }}",
              "operation": "notEqual",
              "value2": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.yoast_head_json.og_description }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "bef91bd4-fb41-46e3-aa91-a1f741d6d150",
      "name": "Check Product WooCommerce1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1220,
        1120
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }} ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.query.api_key }}"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={  \n  \"status_pid\": \"{{ $json.data.status[1].pid }}\",\n  \"title\" : \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.name }}\",\n  \"remote_id\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.id }}\"\n}\n       ",
        "options": {}
      },
      "id": "0555ad58-0eb8-46f1-a759-a214a009d855",
      "name": "Draft Product1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1020,
        1020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.stock_quantity }}",
              "operation": "smallerEqual"
            }
          ]
        }
      },
      "id": "c863d1a8-7a1e-4ba9-ade2-cd43cc84388d",
      "name": "Check Stock1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        1120
      ]
    },
    {
      "parameters": {
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.env }}.gosharpei.com/api/status  ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "product"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authority",
              "value": "api.dev.gosharpei.com"
            },
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "origin",
              "value": "https://appdev.gosharpei.com"
            },
            {
              "name": "referer",
              "value": "https://appdev.gosharpei.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"104\", \" Not A;Brand\";v=\"99\", \"Google Chrome\";v=\"104\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Linux\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "2fd70602-8425-450f-8f4f-44a89f3c01c7",
      "name": "Get Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        360,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  WooCommerce_Body: items[0].json.WooCommerce_Body\n};\n"
      },
      "id": "921278b5-87d0-4adc-be79-b67fdfb804cc",
      "name": "Get Full Json3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        1120
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Execute Workflow Trigger').item.json.data.variants[0].pid }}        ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.query.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.sale_price }}\",\n    \"title\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.name.replace(/['\"]+/g,'') }}\",\n    \"remote_id\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.id }}\",\n    \"status_pid\" : \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.stock_quantity > 0 ? 'f1554bbc-3159-4044-8974-1da26a573ea3' : '8ccef96e-5eb3-4b66-bd16-86fec78ab575'}}\",\n    \"cost\": 0,\n    \"SKU\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body?.body?.sku ? $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.sku : 'n/a' }}\"\n\n  }            ",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 0,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "86ef7ebe-ad43-4bc8-b300-1e6c59d08936",
      "name": "Update variant1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2500,
        1580
      ],
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Execute Workflow Trigger').item.json.data.variants[0].pid }}/images                ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.query.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachment",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "5308434c-8017-4aaf-b073-cc3106fd6424",
      "name": "Add Image2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2300,
        1580
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "url": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.images[0].src }}",
        "options": {}
      },
      "id": "312d50c3-196e-4a54-9d54-f2e6f6d56ca9",
      "name": "Upload2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2100,
        1580
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a576428b-ad16-4417-aa93-9a39b1976c21",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.data.variants[0].image_url }}",
              "rightValue": "=https://assets.gosharpei.com/placeholders/empty_image.svg",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1503d12f-9d5c-4181-95a5-f32bf6e2c027",
      "name": "If no image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1880,
        1580
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }} ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.query.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pid\": \"{{ $('Execute Workflow Trigger').item.json.data.pid }}\",\n  \"title\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.name.replace(/['\"]+/g,'') }}\",\n  \"body\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.description.replace(/['\"]+/g,'').replace(/<[^>]+>/g, '').replace(/\\n/g, ' ') }}\",\n  \"status_pid\" : \"{{ $('Get Status').item.json.data.status[0].pid }}\"\n}\n               ",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 0,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "17247aea-b683-4b45-92ac-9db6ad6a51c1",
      "name": "Update Product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1880,
        1740
      ],
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Execute Workflow Trigger').item.json.data.variants[0].pid }}     ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.query.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.sale_price }}\",\n    \"title\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.name.replace(/['\"]+/g,'') }}\",\n    \"remote_id\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.id }}\",\n    \"status_pid\" : \"{{ $('Get Status').item.json.data.status[0].pid }}\",\n    \"cost\": 0,\n    \"SKU\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body?.body?.sku ? $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.sku : 'n/a' }}\"\n}                           ",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 0,
              "batchInterval": 3000
            }
          }
        }
      },
      "id": "6ee57117-7960-422b-89d5-0d0163acaecc",
      "name": "Update a variant7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1680,
        1740
      ],
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }} ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.query.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pid\": \"{{ $('Execute Workflow Trigger').item.json.data.pid }}\",\n  \"title\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.name.replace(/['\"]+/g,'') }}\",\n  \"body\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.description.replace(/['\"]+/g,'').replace(/<[^>]+>/g, '').replace(/\\n/g, ' ') }}\",\n  \"status_pid\" : \"{{ $('Get Status').item.json.data.status[1].pid }}\"\n}\n                   \n\n ",
        "options": {}
      },
      "id": "3d99777c-f0a7-4853-8dca-cdc0bcfb1522",
      "name": "Draft Product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1680,
        1580
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Execute Workflow Trigger').item.json.data.variants[0].pid }} ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.query.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.price }}\",\n    \"title\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.name.replace(/['\"]+/g,'') }}\",\n    \"remote_id\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.id }}\",\n    \"status_pid\" : \"{{ $('Get Status').item.json.data.status[1].pid }}\",\n    \"cost\": 0\n\n  }                   ",
        "options": {}
      },
      "id": "e6fba04b-19f8-49ef-8136-3da2cb6b0ae8",
      "name": "Draft default variant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1420,
        1700
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "29a3d429-1022-4690-94fd-696badbbb24c",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.stock_quantity }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6c095b0f-01b5-47c1-ba8a-4509db663b67",
      "name": "If7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1220,
        1700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Execute Workflow Trigger').item.json.data.variants_count }}",
              "operation": "equal",
              "value2": 1
            }
          ],
          "string": [
            {
              "value1": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.type }}",
              "value2": "simple"
            }
          ]
        }
      },
      "id": "3f5cccbb-f4e7-44cf-bccb-941d853e2b6f",
      "name": "IF equal 1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1020,
        1700
      ]
    },
    {
      "parameters": {
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Create Deafault Variant').item.json.data[0].pid }}  ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "f41d1147-56c3-4d9b-b039-88db7fa6744f",
      "name": "validate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        1400
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Create Deafault Variant').item.json.data[0].pid }}       ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.query.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Create Deafault Variant').item.json.data[0].selling_price }}\",\n    \"title\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.name.replace(/['\"]+/g,'') }}\",\n    \"remote_id\": \"{{ $('Create Deafault Variant').item.json.data[0].remote_id }}\",\n    \"status_pid\" : \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.stock_quantity > 0 ? $('Get Status').item.json.data.status[0].pid : $('Get Status').item.json.data.status[1].pid}}\",\n    \"cost\": 0,\n    \"SKU\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body?.body?.sku ? $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.sku : 'n/a' }}\"\n    \n\n  }  ",
        "options": {}
      },
      "id": "5f9db335-f079-4273-8b71-e3e8aaed5e4e",
      "name": "Update variant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1880,
        1400
      ],
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Create Deafault Variant').item.json.data[0].pid }}/images               ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.query.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachment",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "747b93f4-d003-4f58-beff-8d832229a5a3",
      "name": "Add Image1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1680,
        1400
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "url": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.images[0].src }}",
        "options": {}
      },
      "id": "b80f0081-a394-4010-b657-83adae763264",
      "name": "Upload1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1420,
        1400
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/multiple          ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.query.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"selling_price\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.sale_price}}\",\n    \"title\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.name.replace(/['\"]+/g,'').replace(/<[^>]+>/g, '').replace(/\\n/g, ' ')  }}\",\n    \"remote_id\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.id }}\",\n    \"status_pid\" : \"{{ $('Get Status').item.json.data.status[0].pid }}\",\n    \"cost\": 0\n\n  }\n]      \n                    ",
        "options": {}
      },
      "id": "9b349e66-7909-4b5e-b051-77d16c0c77f3",
      "name": "Create Deafault Variant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1220,
        1400
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Execute Workflow Trigger').item.json.data.variants_count }}",
              "operation": "equal"
            }
          ],
          "string": [
            {
              "value1": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.type }}",
              "value2": "simple"
            }
          ]
        }
      },
      "id": "c0cf4fc8-5dea-484c-bad0-b63cca51ff6b",
      "name": "IF equal ",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1020,
        1400
      ]
    },
    {
      "parameters": {
        "content": "$2y$10$Z.PtkWIp./jqB.JlH5mq2uMvr2ifcAc2RutXhSFljCZvbb8wU9R9i"
      },
      "id": "b5a14b72-0c0b-4a05-a878-61336455e84e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        1040
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Execute Workflow Trigger').item.json.data.variants[$('Set6').item.json.counter].pid }}    ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.query.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $json.price }}\",\n    \"title\": \"{{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.name }} / {{ $json.attributes[0].option }}\",\n    \"remote_id\": \"{{ $json.id }}\",\n    \"status_pid\" : \"{{ $('Get Status').item.json.data.status[0].pid }}\",\n    \"cost\": 0,\n    \"SKU\": \"{{ $json.sku  ? $json.sku  : 'n/a' }}\",\n    \"barcode\": \"n/a\"\n\n  }                       ",
        "options": {}
      },
      "id": "1815a840-0d7b-4256-9c83-0e4327d10568",
      "name": "Update a variant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3120,
        2040
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f55abc1a-0001-4624-b044-6d39ee160bdd",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.data.variants[$('Set6').item.json.counter].selling_price }}",
              "rightValue": "={{ $json.price }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "9e199800-51eb-460d-8068-1d86379824da",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.data.variants[$('Set6').item.json.counter].title }}",
              "rightValue": "={{ $json.name }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "fcd269ed-4515-42b9-9abf-92d45eea9e54",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.data.variants[$('Set6').item.json.counter].status.name }}",
              "rightValue": "Draft",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "5c61e12b-95f0-4aca-878f-4fc1bb59daf0",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2900,
        2040
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Execute Workflow Trigger').item.json.data.variants[$('Set6').item.json.counter].pid }}    ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.query.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $json.price }}\",\n    \"title\": \"{{ $('Execute Workflow Trigger').item.json.data.title }} / {{ $json.attributes[0].option }}\",\n    \"remote_id\": \"{{ $json.id }}\",\n    \"status_pid\" : \"{{ $('Get Status').item.json.data.status[1].pid }}\",\n    \"cost\": 0,\n    \"SKU\": \"{{ $json.sku ? $json.sku : 'n/a' }}\",\n    \"barcode\": \"n/a\"\n  }                     ",
        "options": {}
      },
      "id": "7bd16c46-8ff2-4d47-9d12-0eb2e9e89938",
      "name": "Update a variant1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2900,
        1860
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "29a3d429-1022-4690-94fd-696badbbb24c",
              "leftValue": "={{ $('WooCommerce').item.json.stock_quantity }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9aec6df1-c15c-4a45-9f6e-c71c13019ff0",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2720,
        2040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "775a315f-6128-4c04-a71b-8a298a997ab7",
              "leftValue": "={{ $json.activeVariantsCount }}",
              "rightValue": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.variations.length }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "70055664-b660-4c2e-83bf-a5b4c49d8987",
      "name": "If10",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        2040
      ]
    },
    {
      "parameters": {
        "content": "## Woocommerce",
        "color": 4
      },
      "id": "1a2ac811-0764-4faf-83c2-07da33a97163",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3460,
        2280
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Loop Over Items1').item.json.pid }}\n    ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.query.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Loop Over Items1').item.json.selling_price }}\",\n    \"title\": \"{{ $('Loop Over Items1').item.json.title.replace(/['\"]+/g, '') }}\",\n    \"remote_id\": \"{{ $('Loop Over Items1').item.json.remote_id }}\",\n    \"status_pid\" : \"{{ $('Execute Workflow Trigger').item.json.env === 'dev' ? '34da3432-1816-4f52-ac2e-efc712f3aa9e' : 'd486da45-af0e-45e5-92ab-319a7fe7e782' }}\",\n    \"cost\": 0\n\n  }                    ",
        "options": {}
      },
      "id": "ed6c942b-e1cf-4667-92c6-f43ad96a8679",
      "name": "Archive  variant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2300,
        2300
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ddcea84e-3907-491c-8560-283840f30272",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2100,
        2300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fad6652c-1295-42b2-b06c-0c8dffc0e69a",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1880,
        2300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "nonMatchingVariants",
        "options": {}
      },
      "id": "77f3f7f1-da1a-45af-aef3-59b4fdc45e98",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1680,
        2300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraemos las variantes y las variaciones del JSON de entrada\nconst variants = items[0].json.data.variants;\nconst variations = items[0].json.WooCommerce_Body.body.variations;\n\n// Inicializamos los arrays que contendrán los IDs de las variaciones coincidentes y las variantes no coincidentes\nlet matchingVariants = [];\nlet nonMatchingVariants = [];\n\n// Iteramos sobre las variantes para verificar si el remote_id coincide con alguna variación\nvariants.forEach(variant => {\n  const remoteIdAsNumber = Number(variant.remote_id);\n\n  // Verificamos si el remote_id de la variante está en el array de variations\n  if (variations.includes(remoteIdAsNumber)) {\n    matchingVariants.push(remoteIdAsNumber); // Agregamos a matchingVariants\n  } else {\n    nonMatchingVariants.push(variant); // Agregamos la variante completa a nonMatchingVariants\n  }\n});\n\n// Retornamos el resultado como salida del nodo\nreturn [\n  {\n    json: {\n      matchingVariants,\n      nonMatchingVariants\n    }\n  }\n];\n"
      },
      "id": "ef447cc6-6ba4-4d29-ad06-4bb454036334",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        2300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b25ff3d-080b-4e9a-bdb7-605b3e623691",
              "name": "data.variants",
              "value": "={{ $('Execute Workflow Trigger').item.json.data.variants }}",
              "type": "array"
            },
            {
              "id": "68cb1464-54a3-48ba-b568-c78bedf23f20",
              "name": "WooCommerce_Body.body.variations",
              "value": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.variations }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "1cad39d0-37a8-4588-bbed-93d194d5d2e8",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        2300
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "productId": "={{ $json.variations !== undefined ? $json.variations : $json.matchingVariants }}\n"
      },
      "id": "8735bc99-a246-4857-aee7-5a6b191e061e",
      "name": "WooCommerce",
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        2300,
        2040
      ],
      "credentials": {
        "wooCommerceApi": {
          "id": "yF8Z8x2jleeBRXTc",
          "name": "WooCommerce account 7"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "counter",
              "value": "={{ $runIndex }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5e47e401-c0a1-4785-84f8-ccebdb32cd8b",
      "name": "Set6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2500,
        2040
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b058abe6-3e01-45a8-adbf-f966c7d2e65c",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2100,
        2040
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "variations, matchingVariants",
        "options": {}
      },
      "id": "be33455b-dbaa-47ee-83b4-247e3a1990f3",
      "name": "Split Out2",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1880,
        2040
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "productId": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.id }}"
      },
      "id": "051b1a9b-6c73-4a7b-8244-1c9cd415ca1c",
      "name": "WooCommerce1",
      "type": "n8n-nodes-base.wooCommerce",
      "typeVersion": 1,
      "position": [
        1680,
        2040
      ],
      "credentials": {
        "wooCommerceApi": {
          "id": "yF8Z8x2jleeBRXTc",
          "name": "WooCommerce account 7"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.variations }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "07ac3c3d-2f9a-4920-9c83-85eb119c3668",
                    "leftValue": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.variations }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b3f02b4c-09f7-42e2-8719-0bc467ed5a08",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        360,
        1360
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener el primer elemento de los datos de entrada\nconst input = items[0];\n\n// Verificar si 'input' y la estructura de variantes existen\nif (input && input.json && input.json.data && input.json.data.variants) {\n\n    // Obtener la lista de variantes\n    const variants = input.json.data.variants;\n\n    // Filtrar las variantes activas\n    const activeVariantsCount = variants.filter(v => v.status.name !== 'Inactive' && v.status.name !== 'Archived' ).length;\n\n    // Retornar el conteo de variantes activas\n    return [{\n        json: {\n            activeVariantsCount: activeVariantsCount // Conteo de variantes activas\n        }\n    }];\n}\n\n// Si no se encuentran variantes, retornar los items originales\nreturn items;\n\n"
      },
      "id": "a7f91f76-4cb8-430b-b38b-7e9152bdf91e",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        2040
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c7d7bb08-debf-4c8c-be4b-be304696d5d7",
              "name": "data.variants",
              "value": "={{ $('Execute Workflow Trigger').item.json.data.variants }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "cd04bcf8-4811-466c-a011-aebbd0cf4df6",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        2040
      ]
    },
    {
      "parameters": {
        "workflowId": "R6tILcIQGKOZ0HO4",
        "options": {}
      },
      "id": "8adba7d9-a8a9-4c5f-8940-508f689949fb",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2080,
        2940
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c3eaedf-a56c-4492-b804-4510bb5c259c",
              "name": "=pid",
              "value": "={{ $('Execute Workflow Trigger').item.json.data.pid }}",
              "type": "string"
            },
            {
              "id": "80cb8a27-eff8-40e6-846c-f76a01831570",
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}",
              "type": "string"
            },
            {
              "id": "b721d509-46f9-4644-9179-cb6cde139ae6",
              "name": "env",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c118d3b1-868d-4853-9875-3c1feb9dcdbe",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1880,
        2940
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Create combination').item.json.data[0].pid }}   ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"selling_price\": \"{{ $('Loop Over Items').item.json.price == 0 ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.price : $('Loop Over Items').item.json.price }}\",\n    \"title\": \"{{ $('Create combination').item.json.data[0].title }}\",\n    \"remote_id\": \"{{ $('Create combination').item.json.data[0].remote_id }}\",\n    \"status_pid\" : \"{{$('Loop Over Items').item.json.quantity > 0 ? 'f1554bbc-3159-4044-8974-1da26a573ea3' : '8ccef96e-5eb3-4b66-bd16-86fec78ab575'}}\",\n    \"cost\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.wholesale_price }}\",\n    \"barcode\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.upc ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.upc : 'n/a' }}\",\n    \"SKU\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.reference ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.reference : 'n/a' }}\"\n\n  }       ",
        "options": {}
      },
      "id": "b459236a-a3de-4642-8fb1-b7775e315453",
      "name": "Update combination1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3120,
        2680
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/{{ $('Create combination').item.json.data[0].pid }}/images            ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachment",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "05ca72b2-6ff7-408f-87e0-d253522e227a",
      "name": "Add Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2920,
        2680
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{\n  $('Loop Over Items').item.json.image && \n  $('Loop Over Items').item.json.image[0] && \n  $('Loop Over Items').item.json.image[0].url &&\n  $('Loop Over Items').item.json.image[0].url.length > 0\n  ? $('Loop Over Items').item.json.image[0].url\n  : $('Edit Fields5').item.json.PrestaShop_Body.PrestaShop_Body.body.images[0].url\n}}\n\n  ",
        "options": {}
      },
      "id": "ee7b5523-c50e-4c0f-9021-1b7166c067e5",
      "name": "Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2740,
        2680
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants/multiple        ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"selling_price\": \"{{ $('Loop Over Items').item.json.price }}\",\n    \"title\": \"/ {{ $('Loop Over Items').item.json.attributes.map(attr => attr.attribute).join(' - ') }}\",\n    \"status_pid\" : \"{{ $('Execute Workflow Trigger').item.json.data.status.pid }}\",\n    \"remote_id\": \"{{ $('Loop Over Items').item.json.id_product_attribute }}\",\n    \"cost\": \"{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.wholesale_price }}\",\n    \"barcode\": {{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.upc ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.upc : '\"n/a\"' }},\n    \"SKU\": {{ $('Execute Workflow Trigger').item.json.PrestaShop_Body?.PrestaShop_Body?.body?.upc ? $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.upc : '\"n/a\"' }}\n\n  }\n]       \n                  ",
        "options": {}
      },
      "id": "98d45c95-f301-4b78-a928-68a9a5c0e680",
      "name": "Create combination",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2540,
        2680
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "231188d8-393e-4151-a132-424d2184c572",
              "name": "index",
              "value": "={{$runIndex}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9eaa9913-afe5-4ef2-b998-9334448c79c8",
      "name": "Edit Fields6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        2680
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = items[0];\n\n// Verificar si 'input' y 'input.json' están definidos\nif (input && input.json) {\n    // Obtener los datos de 'fields' y 'products_variants'\n    const fields = input.json.fields || [];\n    const productsVariants = input.json.data.products_variants || [];\n\n    // Crear un conjunto de todos los remote_id en products_variants\n    const remoteIds = new Set(productsVariants.map(variant => variant.remote_id));\n\n    // Crear un array para almacenar todas las combinaciones no coincidentes\n    const nonMatchingCombinations = [];\n\n    // Recorrer todos los fields\n    fields.forEach(field => {\n        // Verificar si 'id_product_attribute' no coincide con ningún 'remote_id'\n        const idMatch = !remoteIds.has(field.id_product_attribute.toString());\n        \n        // Si no coincide, agregar al array de no coincidentes\n        if (idMatch) {\n            nonMatchingCombinations.push({\n                id_product_attribute: field.id_product_attribute,\n                attributes: field.attributes,\n                price: field.price,\n                quantity: field.quantity,\n                image: field.image || [],\n            });\n        }\n    });\n\n    // Devolver todas las combinaciones no coincidentes\n    if (nonMatchingCombinations.length > 0) {\n        return [{\n            json: {\n                new_combinations: nonMatchingCombinations\n            }\n        }];\n    }\n}\n\n// Si no se encuentran coincidencias, retornar los items originales\nreturn items;\n\n\n"
      },
      "id": "b4fe58c9-dd8b-4571-aec0-060b0b32c8f1",
      "name": "Convert Object",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        2680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31622845-45d2-44ca-aa33-f2c271cfcb8e",
              "name": "fields",
              "value": "={{ $('If8').item.json.fields }}",
              "type": "array"
            },
            {
              "id": "53890f9b-8be3-4f3a-8557-d767b4734fb3",
              "name": "data.products_variants",
              "value": "={{ $('Execute Workflow Trigger').item.json.data.variants }}",
              "type": "array"
            },
            {
              "id": "99c91392-cbe0-44e7-8a05-4dcbbfbe63a5",
              "name": "PrestaShop_Body.PrestaShop_Body.body.images",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.body.images }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "e37f0a35-301a-4e9e-9fa5-19de10cb6d79",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        2680
      ]
    },
    {
      "parameters": {
        "url": "=https://api.{{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.env }}.gosharpei.com/api/products/{{ $('Execute Workflow Trigger').item.json.data.pid }}/variants ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Execute Workflow Trigger').item.json.PrestaShop_Body.PrestaShop_Body.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "id": "2a137c6b-41c0-4c3c-bf7d-1ee120105ffb",
      "name": "List Variants",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        2680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "775a315f-6128-4c04-a71b-8a298a997ab7",
              "leftValue": "={{ $('Code2').item.json.activeVariantsCount }}",
              "rightValue": "={{ $json.fields.length }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "18c1658b-9c5b-418b-a0f2-ad985a1658dd",
      "name": "If8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        2680
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8f304a89-0677-4bd4-9a4f-550f2123a0e9",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2100,
        2680
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "new_combinations",
        "options": {}
      },
      "id": "7c07216d-0456-4df0-b391-cba952ab294a",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1880,
        2680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0ec5666a-83ba-41c9-ae9b-ddd8e28a09e6",
              "leftValue": "={{ $json.activeVariantsCount }}",
              "rightValue": "={{ $('Execute Workflow Trigger').item.json.WooCommerce_Body.body.variations.length }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c17283ff-ee0d-4568-a221-844893b32f68",
      "name": "If Active Variants Greater than",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1020,
        2300
      ]
    },
    {
      "parameters": {
        "content": "## Archive  a variant or multiple variants ",
        "height": 117.0289119828806,
        "width": 256.7227344438815
      },
      "id": "ac1f403c-d522-4893-be43-391c80e9e55d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        2300
      ]
    },
    {
      "parameters": {
        "content": "## Create variant or multiple variants",
        "height": 116.99868285859017
      },
      "id": "0313c5c8-e1cc-4d2c-ac84-f0a63b343289",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        2680
      ]
    },
    {
      "parameters": {
        "content": "## Update variants",
        "height": 85.70888859942167
      },
      "id": "c8a61db6-fa5e-450a-8ade-dcdb9b5c62ac",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        2060
      ]
    },
    {
      "parameters": {
        "content": "## Update product and default variant",
        "height": 117.69208465540811
      },
      "id": "8e77c733-9207-4641-80d1-4eaca8f5825c",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        1700
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Full Json3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Product WooCommerce1": {
      "main": [
        [
          {
            "node": "Update Product1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Stock1": {
      "main": [
        [
          {
            "node": "Draft Product1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Product WooCommerce1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status": {
      "main": [
        [
          {
            "node": "Check Stock1",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF equal ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Json3": {
      "main": [
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Image2": {
      "main": [
        [
          {
            "node": "Update variant1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload2": {
      "main": [
        [
          {
            "node": "Add Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If no image": {
      "main": [
        [
          {
            "node": "Upload2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Product": {
      "main": [
        [
          {
            "node": "If no image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a variant7": {
      "main": [
        [
          {
            "node": "Update Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Product": {
      "main": [
        [
          {
            "node": "If no image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft default variant": {
      "main": [
        [
          {
            "node": "Draft Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Draft default variant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a variant7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF equal 1": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Image1": {
      "main": [
        [
          {
            "node": "Update variant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload1": {
      "main": [
        [
          {
            "node": "Add Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Deafault Variant": {
      "main": [
        [
          {
            "node": "Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF equal ": {
      "main": [
        [
          {
            "node": "Create Deafault Variant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF equal 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update a variant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Update a variant1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "WooCommerce1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Active Variants Greater than",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Archive  variant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        null,
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WooCommerce": {
      "main": [
        [
          {
            "node": "Set6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set6": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        null,
        [
          {
            "node": "WooCommerce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WooCommerce1": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update combination1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Image": {
      "main": [
        [
          {
            "node": "Update combination1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload": {
      "main": [
        [
          {
            "node": "Add Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create combination": {
      "main": [
        [
          {
            "node": "Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Create combination",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Object": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Convert Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Variants": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "List Variants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        null,
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Active Variants Greater than": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "status": 200,
        "message": "success",
        "data": {
          "pid": "300567ec-1fdf-41d8-898b-60f853a60c88",
          "title": "variantes add one",
          "body": "variante update desc",
          "vendor": null,
          "updated_at": "2024-10-22T19:11:35.000000Z",
          "created_at": "2024-10-21T20:08:54.000000Z",
          "remote_id": "378",
          "variants_count": 2,
          "image_url": "https://assets.dev.gosharpei.com/products/2706/1729541339_DE-Pins-4.jpg",
          "category": null,
          "subcategory": null,
          "tags": [
            {
              "pid": "0efb396f-0773-498c-a696-46e64c9cd596",
              "value": "WooCommerce"
            }
          ],
          "status": {
            "pid": "20ba684b-2d5b-46de-bfc3-07aa6d40caaa",
            "name": "Active"
          },
          "variants": [
            {
              "pid": "3215081a-571e-4fd8-983b-10f62c816428",
              "title": "variantes add one / WordPress",
              "SKU": "3",
              "barcode": "n/a",
              "cost": "0.00",
              "selling_price": "79.00",
              "remote_id": "386",
              "image_url": "https://assets.dev.gosharpei.com/products/2706/1729541339_DE-Pins-4.jpg",
              "images": [
                {
                  "pid": "0dcfe55b-872c-4023-a91a-99ad4c500928",
                  "url": "https://assets.dev.gosharpei.com/products/2706/1729541339_DE-Pins-4.jpg"
                }
              ],
              "status": {
                "pid": "20ba684b-2d5b-46de-bfc3-07aa6d40caaa",
                "name": "Active"
              }
            },
            {
              "pid": "2f6a4095-5a5b-4cde-8875-1099e03811dd",
              "title": "variantes add one / Divi Engine",
              "SKU": "78",
              "barcode": "n/a",
              "cost": "0.00",
              "selling_price": "444.00",
              "remote_id": "379",
              "image_url": "https://assets.dev.gosharpei.com/products/2706/1729541344_DE-Pins-2.jpg",
              "images": [
                {
                  "pid": "6c30f90a-7cb2-47f8-963e-b52c927b781e",
                  "url": "https://assets.dev.gosharpei.com/products/2706/1729541344_DE-Pins-2.jpg"
                }
              ],
              "status": {
                "pid": "20ba684b-2d5b-46de-bfc3-07aa6d40caaa",
                "name": "Active"
              }
            }
          ],
          "options": []
        },
        "WooCommerce_Body": {
          "headers": {
            "x-forwarded-for": "43.241.70.75",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "host": "automation.prod.gosharpei.com",
            "x-amzn-trace-id": "Root=1-671a9dba-2c1efe061fdf376c287888b1",
            "content-length": "7935",
            "user-agent": "WooCommerce/9.3.3 Hookshot (WordPress/6.6.2)",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip, br",
            "content-type": "application/json",
            "x-wc-webhook-source": "https://sharpei.wisdmlabs.net/",
            "x-wc-webhook-topic": "product.updated",
            "x-wc-webhook-resource": "product",
            "x-wc-webhook-event": "updated",
            "x-wc-webhook-signature": "WkwZMEMSRrZXIAqp7HJFbpTXe65SAkwPOOA4aDOtAPo=",
            "x-wc-webhook-id": "41",
            "x-wc-webhook-delivery-id": "bcf16850618943ff5fd52010827bb616"
          },
          "params": {},
          "query": {
            "api_key": "$2y$10$HJyJLei5Pe5EkOtdTbDf1eGQc.JWCLFhAvoAaGfkYntEUiFFckkDe"
          },
          "body": {
            "id": 378,
            "name": "variantes add one 1",
            "slug": "producto-con-variantes-21-10",
            "permalink": "https://sharpei.wisdmlabs.net/product/producto-con-variantes-21-10/",
            "date_created": "2024-10-21T20:08:43",
            "date_created_gmt": "2024-10-21T20:08:43",
            "date_modified": "2024-10-24T19:16:59",
            "date_modified_gmt": "2024-10-24T19:16:59",
            "type": "variable",
            "status": "publish",
            "featured": false,
            "catalog_visibility": "visible",
            "description": "<p>variante update desc</p>\n",
            "short_description": "",
            "sku": "2",
            "price": "79",
            "regular_price": "",
            "sale_price": "",
            "date_on_sale_from": null,
            "date_on_sale_from_gmt": null,
            "date_on_sale_to": null,
            "date_on_sale_to_gmt": null,
            "on_sale": true,
            "purchasable": true,
            "total_sales": 0,
            "virtual": false,
            "downloadable": false,
            "downloads": [],
            "download_limit": -1,
            "download_expiry": -1,
            "external_url": "",
            "button_text": "",
            "tax_status": "taxable",
            "tax_class": "",
            "manage_stock": true,
            "stock_quantity": 12,
            "backorders": "no",
            "backorders_allowed": false,
            "backordered": false,
            "low_stock_amount": null,
            "sold_individually": false,
            "weight": "",
            "dimensions": {
              "length": "",
              "width": "",
              "height": ""
            },
            "shipping_required": true,
            "shipping_taxable": true,
            "shipping_class": "",
            "shipping_class_id": 0,
            "reviews_allowed": true,
            "average_rating": "0.00",
            "rating_count": 0,
            "upsell_ids": [],
            "cross_sell_ids": [],
            "parent_id": 0,
            "purchase_note": "",
            "categories": [
              {
                "id": 15,
                "name": "Uncategorized",
                "slug": "uncategorized"
              }
            ],
            "tags": [],
            "images": [],
            "attributes": [
              {
                "id": 1,
                "name": "Brand",
                "slug": "pa_brand",
                "position": 0,
                "visible": true,
                "variation": true,
                "options": [
                  "Divi Engine",
                  "WooCommerce",
                  "WordPress"
                ]
              }
            ],
            "default_attributes": [],
            "variations": [
              386
            ],
            "grouped_products": [],
            "menu_order": 0,
            "price_html": "",
            "related_ids": [
              315,
              326
            ],
            "meta_data": [
              {
                "id": 6932,
                "key": "_yoast_wpseo_primary_product_cat",
                "value": ""
              },
              {
                "id": 6933,
                "key": "_yoast_wpseo_estimated-reading-time-minutes",
                "value": "1"
              },
              {
                "id": 6934,
                "key": "_yoast_wpseo_wordproof_timestamp",
                "value": ""
              }
            ],
            "stock_status": "instock",
            "has_options": true,
            "post_password": "",
            "global_unique_id": "",
            "yoast_head": "",
            "yoast_head_json": {
              "canonical": "https://sharpei.wisdmlabs.net/product/producto-con-variantes-21-10/",
              "og_locale": "en_US",
              "og_type": "article",
              "og_title": "variantes add one 1 - sharpei.wisdmlabs.net",
              "og_description": "variante update desc",
              "og_url": "https://sharpei.wisdmlabs.net/product/producto-con-variantes-21-10/",
              "og_site_name": "sharpei.wisdmlabs.net",
              "article_modified_time": "2024-10-24T19:16:59+00:00",
              "twitter_card": "summary_large_image",
              "twitter_misc": {
                "Est. reading time": "1 minute"
              },
              "schema": {
                "@context": "https://schema.org",
                "@graph": [
                  {
                    "@type": "WebPage",
                    "@id": "https://sharpei.wisdmlabs.net/product/producto-con-variantes-21-10/",
                    "url": "https://sharpei.wisdmlabs.net/product/producto-con-variantes-21-10/",
                    "name": "variantes add one 1 - sharpei.wisdmlabs.net",
                    "isPartOf": {
                      "@id": "https://sharpei.wisdmlabs.net/#website"
                    },
                    "datePublished": "2024-10-21T20:08:43+00:00",
                    "dateModified": "2024-10-24T19:16:59+00:00",
                    "breadcrumb": {
                      "@id": "https://sharpei.wisdmlabs.net/product/producto-con-variantes-21-10/#breadcrumb"
                    },
                    "inLanguage": "en-US",
                    "potentialAction": []
                  },
                  {
                    "@type": "BreadcrumbList",
                    "@id": "https://sharpei.wisdmlabs.net/product/producto-con-variantes-21-10/#breadcrumb",
                    "itemListElement": [
                      {
                        "@type": "ListItem",
                        "position": 1,
                        "name": "Home",
                        "item": "https://sharpei.wisdmlabs.net/"
                      },
                      {
                        "@type": "ListItem",
                        "position": 2,
                        "name": "Shop",
                        "item": "https://sharpei.wisdmlabs.net/shop/"
                      },
                      {
                        "@type": "ListItem",
                        "position": 3,
                        "name": "variantes add one 1"
                      }
                    ]
                  },
                  {
                    "@type": "WebSite",
                    "@id": "https://sharpei.wisdmlabs.net/#website",
                    "url": "https://sharpei.wisdmlabs.net/",
                    "name": "sharpei.wisdmlabs.net",
                    "description": "",
                    "potentialAction": [],
                    "inLanguage": "en-US"
                  }
                ]
              }
            },
            "_links": {
              "self": [
                {
                  "href": "https://sharpei.wisdmlabs.net/wp-json/wc/v3/products/378"
                }
              ],
              "collection": [
                {
                  "href": "https://sharpei.wisdmlabs.net/wp-json/wc/v3/products"
                }
              ]
            }
          },
          "webhookUrl": "http://https://automation.prod.gosharpei.com:5678/webhook/woocommerce-dev",
          "executionMode": "production"
        },
        "env": "dev"
      }
    ]
  }
}